In [76]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from IPython.display import display
from ast import literal_eval
import os

mpl.rc("font", family="serif", size=15)

In [118]:
def find_nearest(trgeff, target):
    trgeff = np.asarray(trgeff)
    idx = (np.abs(trgeff - target)).argmin()
    return int(trgeff[idx])

def fom(S,B):
    return np.sqrt(2 * ( (S+B) * np.log(1+S/B) - S) )

def divisorGenerator(n):
    large_divisors = []
    for i in range(1, int(np.sqrt(n) + 1)):
        if n % i == 0:
            yield i
            if i*i != n:
                large_divisors.append(n / i)
    for divisor in reversed(large_divisors):
        yield divisor

def rebinCalc(nBins,target):
    rebinFloat = nBins/float(target)
    allDivs = list(divisorGenerator(nBins))
    return find_nearest(allDivs, rebinFloat)

def colorDict(rocData):
    colorDict = {}
    sigLabels = np.unique(rocData["sig"])
    bkgLabels = np.unique(rocData["bkg"])
    for sigl in sigLabels:
        sigColor = np.unique(rocData[rocData["sig"] == sigl]["cSig"])[0]
        colorDict[sigl] = sigColor
    for bkgl in bkgLabels:
        bkgColor = np.unique(rocData[rocData["bkg"] == bkgl]["cBg"])[0]
        colorDict[bkgl] = bkgColor
    return colorDict

def showPotentialVar(inputFolder,data,cut):
    sigLabels = np.unique(data["sig"])
    bkgLabels = np.unique(data["bkg"])
    display(data.head(20))
    ROCBkg = {}
    for bkgl in bkgLabels:
        ROCBkg[bkgl] = []

    for sigl in sigLabels:
        bkgDFList = []
        for bkgl in bkgLabels:
            oneSignal = data[data["sig"]==sigl]
            oneBkgforOneSig = oneSignal[oneSignal["bkg"] == bkgl]
            obosROC = oneBkgforOneSig.sort_values("roc_auc",ascending=False)[["bkg","var","roc_auc"]]
            obosROC = obosROC.set_index(pd.Index(list(range(len(obosROC)))))
            bkgDFList.append(obosROC)
            # only consider ROC > 0.65
            ROCBkg[bkgl] += list(obosROC[obosROC["roc_auc"] > 0.65]["var"])

    jetVarDict = [
                    "Tau",
                    "Axismajor",
                    "Axisminor",
                    "Pt",
                    "Girth",
                    "SoftDropMass"
                ]
            
    rePDList = []
    plotWorthy = []
    newROCCut = 0
    for bkgl in bkgLabels:
        ROCBkg[bkgl]
        unique, counts = np.unique(ROCBkg[bkgl], return_counts=True)
        bkg = [bkgl]*len(unique)
        result = np.column_stack((bkg,unique,counts))
        rePD = pd.DataFrame(result,columns=["bkg","var","counts"]).sort_values("counts",ascending=False)
        rePD["counts"] = pd.to_numeric(rePD["counts"])
        rePD = rePD.set_index(pd.Index(list(range(len(rePD)))))
        rePDList.append(rePD)
        useful = rePD[rePD["counts"] >= 5]
        if len(useful.index) > newROCCut:
            newROCCut = len(useful.index)
        plotWorthy += list(useful["var"])
    newROC = pd.concat(rePDList,axis=1)
    varsOfInterest = []
    for var in np.unique(plotWorthy):
        jetVar = False
        for key in jetVarDict:
            if key in var:
                jetVar = True
                break
        if jetVar == False:
            varsOfInterest.append(var)
    display(newROC.head(newROCCut))
#     newROC.head(newROCCut).to_csv("{}/{}/usefulVar.csv".format(inputFolder,cut))
    newROC.to_csv("{}/{}/usefulVar.csv".format(inputFolder,cut))
    return varsOfInterest

def nearestCut(sigEff, cutVal, target):
    sigEff = np.asarray(sigEff)
    idx = (np.abs(sigEff - target)).argmin()
    return float(cutVal[idx])

def completeCutYields(varOfInterest,rocData,yieldData,inputFolder,cut):
    comCYTable = pd.DataFrame(columns=["var","cutValues","cutDir","sigLabel","sgCutYield","bkgLabel","bgCutYield"])
    cutYieldData = yieldData[(yieldData["var"]=="njetsAK8") & (yieldData["cut"]==cut) ]

    sigLabels = np.unique(rocData["sig"])
    for var in varOfInterest:
        unique, counts = np.unique(rocData[rocData["var"] == var]["cutDir"], return_counts=True)
        mostCutDir = unique[np.argmax(counts)]
        for sigl in sigLabels:
            for bkgl in ["QCD","TTJets (pow)","W+jets","Z+jets"]:
                condition = (rocData["sig"] == sigl) & (rocData["bkg"] == bkgl) & (rocData["var"] == var)
                rowROCData = rocData[condition].iloc[0]
                if rowROCData["cutDir"] == mostCutDir:
                    bgCutYield = np.array(rowROCData["mBg_f"])
                    sgCutYield = np.array(rowROCData["mSig_f"])
                else:
                    bgCutYield = 1 - np.array(rowROCData["mBg_f"])
                    sgCutYield = 1 - np.array(rowROCData["mSig_f"])
                bgCutYield *= cutYieldData[cutYieldData["source"] == bkgl]["yield"].iloc[0]
                sgCutYield *= cutYieldData[cutYieldData["source"] == sigl]["yield"].iloc[0]
                comCYTable.loc[len(comCYTable.index)] = [var,rowROCData["cutSig"],rowROCData["cutDir"],sigl,sgCutYield,bkgl,bgCutYield]
    display(comCYTable)
    comCYTable.to_pickle("{}/{}/comCYTable.pkl".format(inputFolder,cut))

def cutSug(bkgYields,sigYields,cutDir,cutValues):
    foms = fom(sigYields,bkgYields)
    foms = np.nan_to_num(foms,nan=0)
    foms = np.where(foms>10000,0,foms)
    fomforCut = "{},{:.3f}".format(cutDir,np.amax(foms))
    suggestedCut = cutValues[np.argmax(foms)]
    return [fomforCut,suggestedCut]
    
# using the comCYTable, make suggested cuts based on the maximum FOM. Function should also have the 
# ability to choose which background to use for calculating the FOM.
def maxFOMSuggest(inputFolder,cut,pltColorDict):
    comCYTable = pd.read_pickle("{}/{}/comCYTable.pkl".format(inputFolder,cut))
    sigLabels = np.unique(comCYTable["sigLabel"])
    varOfInterest = np.unique(comCYTable["var"])
    sugCuts = pd.DataFrame(columns=["var","sig","QCD FOM","QCD Cut","TT FOM","TT Cut","WJet FOM","WJet Cut","ZJet FOM","ZJet Cut","W+ & Z+Jets FOM","W+ & Z+Jets Cut","All FOM","All Cut"])
    for var in varOfInterest:
        unique, counts = np.unique(comCYTable[comCYTable["var"] == var]["cutDir"], return_counts=True)
        mostCutDir = unique[np.argmax(counts)].replace("cut","")
        for sigl in sigLabels:
            sigCond = (comCYTable["sigLabel"] == sigl) & (comCYTable["var"] == var) & (comCYTable["bkgLabel"] == "QCD")
            cySigData = comCYTable[sigCond].iloc[0]
            cutValues = cySigData["cutValues"]
            sigYields = cySigData["sgCutYield"]
            allBkgYields = np.zeros(len(sigYields))
            ewBkgYields = np.zeros(len(sigYields))
            maxFOMs = [sigl]
            for bkgl in ["QCD","TTJets (pow)","W+jets","Z+jets"]:
                bkgCond = (comCYTable["bkgLabel"] == bkgl) & (comCYTable["var"] == var) & (comCYTable["sigLabel"] == "baseline")
                cyBkgData = comCYTable[bkgCond].iloc[0]
                bkgYields = cyBkgData["bgCutYield"]
                allBkgYields += bkgYields
                if bkgl in ["W+jets","Z+jets"]:
                    ewBkgYields += bkgYields
                maxFOMs += cutSug(bkgYields,sigYields,mostCutDir,cutValues)
            maxFOMs += cutSug(ewBkgYields,sigYields,mostCutDir,cutValues)  
            maxFOMs += cutSug(allBkgYields,sigYields,mostCutDir,cutValues)            
            sugCuts.loc[len(sugCuts.index)] = [var] + maxFOMs
        QCDAvgCut = np.mean(np.array(sugCuts[sugCuts["var"] == var]["QCD Cut"]))
        TTAvgCut = np.mean(np.array(sugCuts[sugCuts["var"] == var]["TT Cut"]))
        WJetAvgCut = np.mean(np.array(sugCuts[sugCuts["var"] == var]["WJet Cut"]))
        ZJetAvgCut = np.mean(np.array(sugCuts[sugCuts["var"] == var]["ZJet Cut"]))
        ewAvgCut = np.mean(np.array(sugCuts[sugCuts["var"] == var]["W+ & Z+Jets Cut"]))
        allAvgCut = np.mean(np.array(sugCuts[sugCuts["var"] == var]["All Cut"]))
        sugCuts.loc[len(sugCuts.index)] = [var,"Average","",QCDAvgCut,"",TTAvgCut,"",WJetAvgCut,"",ZJetAvgCut,"",ewAvgCut,"",allAvgCut]
    sugCuts = sugCuts[["var","sig","QCD FOM","TT FOM","WJet FOM","ZJet FOM","W+ & Z+Jets FOM","All FOM","QCD Cut","TT Cut","WJet Cut","ZJet Cut","W+ & Z+Jets Cut","All Cut"]]
    # calculate the average cut values
    sugCuts.to_csv("{}/{}/suggestedCutsByFOM.csv".format(inputFolder,cut),index=False)
    for var in varOfInterest:
        figure, axis = plt.subplots(2, 2, figsize=(12,12))
        pos = [axis[0,0],axis[0,1],axis[1,0],axis[1,1]]
        figure.suptitle(var, fontsize=16)
        allBkgYields = []
        ewBkgYields = []
        QCDYields = [] 
        TTYields = []
        for bkgl in ["QCD","TTJets (pow)","W+jets","Z+jets"]:
            bkgCond = (comCYTable["bkgLabel"] == bkgl) & (comCYTable["var"] == var) & (comCYTable["sigLabel"] == "baseline")
            cyBkgData = comCYTable[bkgCond].iloc[0]
            bkgYields = cyBkgData["bgCutYield"]
            if allBkgYields == []:
                allBkgYields = bkgYields
            else:
                allBkgYields += bkgYields
            if (ewBkgYields == []) and (bkgl in ["W+jets","Z+jets"]):
                ewBkgYields = bkgYields
            elif (ewBkgYields != []) and (bkgl in ["W+jets","Z+jets"]):
                ewBkgYields += bkgYields
            if bkgl == "QCD":
                QCDYields = bkgYields
            elif bkgl == "TTJets (pow)":
                TTYields = bkgYields
        bkgYieldDict = {"QCD":QCDYields,"TT":TTYields,"W+ & Z+Jets":ewBkgYields,"All":allBkgYields}
        for sigl in sigLabels:
            sigCond = (comCYTable["sigLabel"] == sigl) & (comCYTable["var"] == var) & (comCYTable["bkgLabel"] == "QCD")
            cySigData = comCYTable[sigCond].iloc[0]
            cutValues = cySigData["cutValues"]
            sigYields = cySigData["sgCutYield"]
            i = 0
            for bkgl,bkgYields in bkgYieldDict.items():
                indFOM = fom(sigYields,bkgYields)
                indFOM = np.nan_to_num(indFOM,nan=0)
                indFOM = np.where(indFOM>10000,0,indFOM)
                pos[i].plot(cutValues,indFOM,color=pltColorDict[sigl],linewidth=2,label=sigl)
                pos[i].set_yscale("log")
                pos[i].legend(fontsize=11)
                cond = (sugCuts["sig"] == "Average") & (sugCuts["var"] == var)
                avgCut = sugCuts[cond].iloc[0]
                pos[i].vlines(avgCut["{} Cut".format(bkgl)],0.001,200)
                pos[i].set_title(bkgl)
                pos[i].set_xticks(np.round_(np.linspace(min(cutValues),max(cutValues),20),2))
                pos[i].set_ylim(0.001,200)
                plt.setp(pos[i].xaxis.get_majorticklabels(), rotation=90)
                pos[i].grid(b=True)
                i += 1
        plt.savefig("{}/{}/indFOM_{}.png".format(inputFolder,cut,var))
        plt.close()
            
            
def plotVarOfInterest(varOfInterest,rocData,inputFolder,cut="",sigEffTarget=0.8):
    varOfInterest += ["dPhij23","dPhij23AK8","dPhiMinjMETAK8"]
    varOfInterest = np.unique(varOfInterest)
    sigLabels = np.unique(rocData["sig"])
    bkgLabels = np.unique(rocData["bkg"])
    if not os.path.exists("{}/{}".format(inputFolder,cut)):
        os.makedirs("{}/{}".format(inputFolder,cut))
    sugCutsSigEffTar = []
    for var in varOfInterest:
        figure, axis = plt.subplots(2, 2, figsize=(12,12))
        pos = [axis[0,0],axis[0,1],axis[1,0],axis[1,1]]
        figure.suptitle(var, fontsize=16)
        cutThs = []
        for i in range(len(bkgLabels)):
            bkgl = bkgLabels[i]
            for sigl in sigLabels:
                condition = (rocData["sig"] == sigl) & (rocData["bkg"] == bkgl) & (rocData["var"] == var)
                rowROCData = rocData[condition].iloc[0]
                xval = rowROCData["mBg_f"]
                yval = rowROCData["mSig_f"]
                cutval = rowROCData["cutSig"]
                rocScore = rowROCData["roc_auc"]
                rebin = rebinCalc(len(cutval),20)
                color = rowROCData["cSig"]
                cutDir = rowROCData["cutDir"]
                cutThs.append([sigl,cutDir,nearestCut(yval, cutval, sigEffTarget)])
                for j in range(len(cutval)):
                    if j%rebin == 0:
                        pos[i].text(xval[j],yval[j],"{:.2f}".format(cutval[j]),fontsize=10,color="black")
                pos[i].plot(xval,yval,color=color,linewidth=2,marker=".",label="{} ({},{})".format(sigl.replace("M-2000_",""),rocScore,cutDir.replace("cut","")))
            pos[i].plot([0,1],[0,1],linestyle=":",linewidth=2,color="black")
            pos[i].set_title(bkgl)
            pos[i].legend(fontsize=11)
            pos[i].set_ylabel(r"$\epsilon_{sig}$")
            pos[i].set_xlabel(r"$\epsilon_{bkg}$")
        cutThs = np.array(cutThs)
        # figure out the most common cut direction
        unique, counts = np.unique(cutThs[:,1], return_counts=True)
        mostCutDir = unique[np.argmax(counts)]
        # we only consider entries with the most common cut direction
        cutThs = cutThs[cutThs[:,1]==mostCutDir]
        cutThs = np.unique(cutThs,axis=0)
        # we want the loosest cut across signals, so that the signal with the worst efficiency
        # suffers as little as possible from the cut
        if mostCutDir == ">=cut":
            bestCut = np.amin(cutThs[:,2].astype(float))
        else:
            bestCut = np.amax(cutThs[:,2].astype(float))
        sugCutsSigEffTar.append("{} {} {}".format(var,mostCutDir.replace("cut",""),bestCut))
        plt.xlim(0,1)
        plt.ylim(0,1)
        plt.savefig("{}/{}/ROC_{}.png".format(inputFolder,cut,var))
        plt.close()
    with open('{}/{}/suggestedCutsBySigEff.txt'.format(inputFolder,cut), 'w') as f:
        f.write('\n'.join(sugCutsSigEffTar))
        
def bkgCheck(slabel):
    bkgLabels = ["QCD","TTJets (pow)","W+jets","Z+jets"]
    isbkg = False
    for bl in bkgLabels:
        if slabel == bl:
            isbkg = True
            break
    return isbkg

def FOMTable(yieldData,inputFolder,cut):
    cutYieldData = yieldData[(yieldData["var"]=="njetsAK8") & (yieldData["cut"]==cut) ]
    display(cutYieldData)
    
    QCDYield = cutYieldData[cutYieldData["source"] == "QCD"]["yield"].iloc[0]
    TTYield = cutYieldData[cutYieldData["source"] == "TTJets (pow)"]["yield"].iloc[0]
    WYield = cutYieldData[cutYieldData["source"] == "W+jets"]["yield"].iloc[0]
    ZYield = cutYieldData[cutYieldData["source"] == "Z+jets"]["yield"].iloc[0]
    bkgYields = [QCDYield,TTYield,WYield,ZYield,np.sum([QCDYield,TTYield,WYield,ZYield])]

    fomTable = pd.DataFrame(columns=["sig","QCD","TT","W+Jets","Z+Jets","All"])
    for slabel in cutYieldData["source"]:
        if not bkgCheck(slabel):
            fomList = [slabel]
            sigYield = cutYieldData[cutYieldData["source"] == slabel]["yield"].iloc[0]
            fomList += list(fom(sigYield,bkgYields))
            fomTable.loc[len(fomTable.index)] = fomList
    print(cut)
    display(fomTable)
    fomTable.to_csv("{}/{}/fomTable.csv".format(inputFolder,cut),index=False)

def plotFOMDiff(inputFolder,oriCut,newCut):
    fomOld = pd.read_csv("{}/{}/fomTable.csv".format(inputFolder,oriCut),index_col="sig")
    fomNew = pd.read_csv("{}/{}/fomTable.csv".format(inputFolder,newCut),index_col="sig")
    newvsold = fomNew.div(fomOld)
    # getting color dictionary for signals
    data = pd.read_pickle("{}/allRocValues.pkl".format(inputFolder))
    data = data[(data["cut"]==oriCut) & (data["var"]=="njetsAK8")]
    sigLabels = np.unique(data["sig"])
    sigColDict = {}
    for sl in sigLabels:
        sigColDict[sl] = data[data["sig"]==sl]["cSig"].iloc[0]
    print(newCut)
    display(newvsold)
    newvsold.to_csv("{}/{}/fomNewVsOld.csv".format(inputFolder,newCut),index=False)
    plt.figure(figsize=(12,8))
    for sl in sigLabels:
        plt.plot(list(newvsold.columns),list(newvsold.loc[[sl]].iloc[0]),color=sigColDict[sl],label=sl)
    plt.legend()
    plt.title(newCut)
    plt.hlines(1.0,0,len(list(newvsold.columns)))
    plt.xlabel("Background")
    plt.ylabel("FOM After/FOM Before Cut")
    plt.savefig("{}/{}/fomNewVsOld.png".format(inputFolder,newCut))
    plt.close()
    
def performStudy(inputFolder,oriCut):
    rocData = pd.read_pickle("{}/allRocValues.pkl".format(inputFolder))
    rocData = rocData.replace("Z#rightarrow#nu#nu+jets","Z+jets")
    rocData = rocData.replace("t#bar{t} (pow)","TTJets (pow)")
    cuts = np.unique(rocData["cut"])
    yieldData = pd.read_pickle("{}/yieldValues.pkl".format(inputFolder))
    yieldData = yieldData.replace("Z#rightarrow#nu#nu+jets","Z+jets")
    yieldData = yieldData.replace("t#bar{t}","TTJets (pow)")
    pltColorDict = colorDict(rocData)
    for cut in cuts:
        if not os.path.exists("{}/{}".format(inputFolder,cut)):
            os.makedirs("{}/{}".format(inputFolder,cut))
        cutROCData = rocData[rocData["cut"] == cut]
        varsOfInterest = showPotentialVar(inputFolder,cutROCData,cut)
        completeCutYields(varsOfInterest,cutROCData,yieldData,inputFolder,cut)
        maxFOMSuggest(inputFolder,cut,pltColorDict)
        plotVarOfInterest(varsOfInterest,cutROCData,inputFolder,cut=cut)
        FOMTable(yieldData,inputFolder,cut)
    for cut in cuts:
        plotFOMDiff(inputFolder,oriCut,cut)

In [119]:
performStudy("UL_jetalt2p4_trigger_qual_FlorianCuts_2018_morejN_count","_qual_trg")

/home/keane/anaconda3/lib/python3.7/site-packages/pandas/core/missing.py:94: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

,cut,var,sig,bkg,roc_auc,cutDir,cutSig,cBg,cSig,mBg_f,mSig_f
0,_qual_trg,j1PtD,mMed 600,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cd2bcc,"[-2.220446049250313e-16, 4.081572031688907e-06...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0007125679166..."
1,_qual_trg,j1PtD,baseline,Z+jets,0.64,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cc660d,"[-2.220446049250313e-16, 4.081572031688907e-06...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0026780279975..."
2,_qual_trg,j1PtD,M-2000_mD-1,Z+jets,0.53,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f2231b,"[1.0000000000000002, 0.9999959184279683, 0.999...","[1.0000000000000002, 1.0000000000000002, 1.000..."
3,_qual_trg,j1PtD,M-2000_mD-100,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#9a27cc,"[-2.220446049250313e-16, 4.081572031688907e-06...","[-2.220446049250313e-16, -2.220446049250313e-1..."
4,_qual_trg,j1PtD,M-2000_r-0p1,Z+jets,0.66,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#663303,"[-2.220446049250313e-16, 4.081572031688907e-06...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.000272108843537233..."
5,_qual_trg,j1PtD,M-2000_r-0p7,Z+jets,0.57,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f69acc,"[-2.220446049250313e-16, 4.081572031688907e-06...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0002383506137..."
6,_qual_trg,j1PtD,M-2000_a-low,Z+jets,0.63,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cccccc,"[-2.220446049250313e-16, 4.081572031688907e-06...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0006263048016..."
7,_qual_trg,j1PtD,M-2000_a-high,Z+jets,0.59,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#999910,"[-2.220446049250313e-16, 4.081572031688907e-06...","[1.1102230246251565e-16, 1.1102230246251565e-1..."
8,_qual_trg,j1PtD,mMed 600,W+jets,0.56,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#cd2bcc,"[0.0, 1.4628646354597485e-05, 1.46286463545974...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0007125679166..."
9,_qual_trg,j1PtD,baseline,W+jets,0.64,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#cc660d,"[0.0, 1.4628646354597485e-05, 1.46286463545974...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0026780279975..."
10,_qual_trg,j1PtD,M-2000_mD-1,W+jets,0.52,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#f2231b,"[1.0, 0.9999853713536454, 0.9999853713536454, ...","[1.0000000000000002, 1.0000000000000002, 1.000..."
11,_qual_trg,j1PtD,M-2000_mD-100,W+jets,0.56,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#9a27cc,"[0.0, 1.4628646354597485e-05, 1.46286463545974...","[-2.220446049250313e-16, -2.220446049250313e-1..."
12,_qual_trg,j1PtD,M-2000_r-0p1,W+jets,0.67,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#663303,"[0.0, 1.4628646354597485e-05, 1.46286463545974...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.000272108843537233..."
13,_qual_trg,j1PtD,M-2000_r-0p7,W+jets,0.58,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#f69acc,"[0.0, 1.4628646354597485e-05, 1.46286463545974...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0002383506137..."
14,_qual_trg,j1PtD,M-2000_a-low,W+jets,0.64,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#cccccc,"[0.0, 1.4628646354597485e-05, 1.46286463545974...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0006263048016..."
15,_qual_trg,j1PtD,M-2000_a-high,W+jets,0.60,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#999910,"[0.0, 1.4628646354597485e-05, 1.46286463545974...","[1.1102230246251565e-16, 1.1102230246251565e-1..."
16,_qual_trg,j1PtD,mMed 600,TTJets (pow),0.52,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#6666cc,#cd2bcc,"[0.0, 3.830523479186887e-06, 3.830523479186887...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0007125679166..."
17,_qual_trg,j1PtD,baseline,TTJets (pow),0.60,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#6666cc,#cc660d,"[0.0, 3.830523479186887e-06, 3.830523479186887...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0026780279975..."
18,_qual_trg,j1PtD,M-2000_mD-1,TTJets (pow),0.56,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#6666cc,#f2231b,"[1.0, 0.9999961694765208, 0.9999961694765208, ...","[1.0000000000000002, 1.0000000000000002, 1.000..."
19,_qual_trg,j1PtD,M-2000_mD-100,TTJets (pow),0.51,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#6666cc,#9a27cc,"[0.0, 3.830523479186887e-06, 3.830523479186887...","[-2.220446049250313e-16, -2.220446049250313e-1..."

,bkg,var,counts,bkg,var,counts,bkg,var,counts,bkg,var,counts
0,QCD,dRj12AK8,8,TTJets (pow),j2Tau21AK8,7.0,W+jets,st,8.0,Z+jets,METrHT_pt30,8
1,QCD,met,8,TTJets (pow),j1Tau21AK8,7.0,W+jets,j1PtAK8,8.0,Z+jets,ht,8
2,QCD,dRj13AK8,8,TTJets (pow),st,6.0,W+jets,dPhiMinjMET,8.0,Z+jets,njetsAK8,8
3,QCD,dRj12,8,TTJets (pow),j1Pt,6.0,W+jets,njetsAK8,8.0,Z+jets,njets,8
4,QCD,METrST_pt30,7,TTJets (pow),met,6.0,W+jets,njets,8.0,Z+jets,mT,8
5,QCD,dPhij23AK8,7,TTJets (pow),j1AxismajorAK8,5.0,W+jets,ht,8.0,Z+jets,j3Pt,8
6,QCD,METrHT_pt30,7,TTJets (pow),j1GirthAK8,5.0,W+jets,j2Pt,8.0,Z+jets,METrST_pt30,8
7,QCD,nb,7,TTJets (pow),j2Pt,5.0,W+jets,j1Pt,8.0,Z+jets,j2Pt,8
8,QCD,dPhij12AK8,6,TTJets (pow),j1PtAK8,4.0,W+jets,nb,7.0,Z+jets,j1PtAK8,8
9,QCD,dEtaj23AK8,6,TTJets (pow),j3PtAK8,4.0,W+jets,mT,7.0,Z+jets,j1Pt,8
10,QCD,dPhij12,6,TTJets (pow),mT,4.0,W+jets,j4Pt,7.0,Z+jets,st,8
11,QCD,dPhij1MET,5,TTJets (pow),j4Axismajor,3.0,W+jets,j3Pt,7.0,Z+jets,dPhiMinjMET,8
12,QCD,dPhij13AK8,4,TTJets (pow),ht,3.0,W+jets,METrST_pt30,7.0,Z+jets,dPhiMinjMETAK8,8
13,QCD,njets,4,TTJets (pow),j4PtAK8,3.0,W+jets,j1SoftDropMassAK8,7.0,Z+jets,nb,7
14,QCD,j3PtAK8,4,TTJets (pow),j1Tau1AK8,3.0,W+jets,METrHT_pt30,7.0,Z+jets,j1SoftDropMassAK8,7
15,QCD,j4PtAK8,4,TTJets (pow),dPhiMinjMETAK8,3.0,W+jets,dPhiMinjMETAK8,7.0,Z+jets,j4Pt,7
16,QCD,dPhij23,4,TTJets (pow),njetsAK8,3.0,W+jets,j2PtAK8,6.0,Z+jets,j2PtAK8,6
17,QCD,j1Tau2AK8,4,TTJets (pow),j2PtAK8,3.0,W+jets,j3PtAK8,6.0,Z+jets,dPhij12,6
18,QCD,j3SoftDropMassAK8,3,TTJets (pow),j3Pt,2.0,W+jets,j2PtD,4.0,Z+jets,j3PtAK8,6
19,QCD,j1Tau3AK8,3,TTJets (pow),nb,2.0,W+jets,dPhij12,4.0,Z+jets,dPhij1METAK8,5
20,QCD,j2Tau2AK8,3,TTJets (pow),njets,2.0,W+jets,j4PtAK8,4.0,Z+jets,j2SoftDropMassAK8,5

,var,cutValues,cutDir,sigLabel,sgCutYield,bkgLabel,bgCutYield
0,METrHT_pt30,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",>=cut,M-2000_a-high,"[-4.978240042419202e-13, 50.58884297520605, 14...",QCD,"[-3.462609132753869e-08, 38186824.73531552, 89..."
1,METrHT_pt30,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",>=cut,M-2000_a-high,"[-4.978240042419202e-13, 50.58884297520605, 14...",TTJets (pow),"[-8.361384917776604e-10, 119308.32628942636, 2..."
2,METrHT_pt30,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",<=cut,M-2000_a-high,"[-4.978240042419202e-13, 50.58884297520605, 14...",W+jets,"[-2.688643085946296e-09, 14529.0685849826, 458..."
3,METrHT_pt30,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",<=cut,M-2000_a-high,"[-4.978240042419202e-13, 50.58884297520605, 14...",Z+jets,"[3.101046086584347e-10, 3066.9782375588484, 10..."
4,METrHT_pt30,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",>=cut,M-2000_a-low,"[-2.575717417130363e-13, 71.6124306790829, 171...",QCD,"[-3.462609132753869e-08, 38186824.73531552, 89..."
...,...,...,...,...,...,...,...
635,st,"[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0...",>=cut,baseline,"[1001.9999999999987, 1001.9999999999987, 1001....",Z+jets,"[2793174.000000002, 2793173.2785312394, 279316..."
636,st,"[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0...",>=cut,mMed 600,"[171527.00000000015, 171527.00000000015, 17152...",QCD,"[155942052.00000003, 155932347.0052321, 155910..."
637,st,"[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0...",>=cut,mMed 600,"[171527.00000000015, 171527.00000000015, 17152...",TTJets (pow),"[1255210.9999999984, 1255210.802071027, 125521..."
638,st,"[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0...",>=cut,mMed 600,"[171527.00000000015, 171527.00000000015, 17152...",W+jets,"[3027143.0000000056, 3027105.283861941, 302699..."
639,st,"[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0...",>=cut,mMed 600,"[171527.00000000015, 171527.00000000015, 17152...",Z+jets,"[2793174.000000002, 2793173.2785312394, 279316..."

/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in sqrt
  import sys
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in true_divide
  import sys
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in log
  import sys
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in true_divide
  import sys
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:183: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:187: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:189: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

           cut       var         source        yield
192  _qual_trg  njetsAK8         Z+jets    2793174.0
193  _qual_trg  njetsAK8         W+jets    3027143.0
194  _qual_trg  njetsAK8   TTJets (pow)    1255211.0
195  _qual_trg  njetsAK8            QCD  155942052.0
196  _qual_trg  njetsAK8       mMed 600     171527.0
197  _qual_trg  njetsAK8       baseline       1002.0
198  _qual_trg  njetsAK8    M-2000_mD-1       1421.0
199  _qual_trg  njetsAK8  M-2000_mD-100       1181.0
200  _qual_trg  njetsAK8   M-2000_r-0p1        725.0
201  _qual_trg  njetsAK8   M-2000_r-0p7       1075.0
202  _qual_trg  njetsAK8   M-2000_a-low       1160.0
203  _qual_trg  njetsAK8  M-2000_a-high       1121.0

_qual_trg

             sig        QCD          TT     W+Jets      Z+Jets        All
0       mMed 600  13.733185  149.797452  97.676461  101.607736  13.431952
1       baseline   0.080239    0.894235   0.575874    0.599505   0.078478
2    M-2000_mD-1   0.113792    1.268101   0.816664    0.850175   0.111295
3  M-2000_mD-100   0.094573    1.053958   0.678743    0.706595   0.092498
4   M-2000_r-0p1   0.058057    0.647050   0.416681    0.433781   0.056784
5   M-2000_r-0p7   0.086085    0.959374   0.617826    0.643179   0.084196
6   M-2000_a-low   0.092891    1.035220   0.666674    0.694031   0.090853
7  M-2000_a-high   0.089769    1.000421   0.644262    0.670699   0.087799

,cut,var,sig,bkg,roc_auc,cutDir,cutSig,cBg,cSig,mBg_f,mSig_f
32,_qual_trg_st,j1PtD,mMed 600,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cd2bcc,"[0.0, 0.0, 0.0, 0.0, 0.0, 7.608013020465876e-0...","[-2.220446049250313e-16, -2.220446049250313e-1..."
33,_qual_trg_st,j1PtD,baseline,Z+jets,0.59,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cc660d,"[0.0, 0.0, 0.0, 0.0, 0.0, 7.608013020465876e-0...","[-2.220446049250313e-16, -2.220446049250313e-1..."
34,_qual_trg_st,j1PtD,M-2000_mD-1,Z+jets,0.52,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f2231b,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.9999923919869795, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.99506984..."
35,_qual_trg_st,j1PtD,M-2000_mD-100,Z+jets,0.57,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#9a27cc,"[0.0, 0.0, 0.0, 0.0, 0.0, 7.608013020465876e-0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0008571428571..."
36,_qual_trg_st,j1PtD,M-2000_r-0p1,Z+jets,0.64,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#663303,"[0.0, 0.0, 0.0, 0.0, 0.0, 7.608013020465876e-0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.000493827160493731..."
37,_qual_trg_st,j1PtD,M-2000_r-0p7,Z+jets,0.50,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f69acc,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.9999923919869795, ...","[0.9999999999999999, 0.9999999999999999, 0.999..."
38,_qual_trg_st,j1PtD,M-2000_a-low,Z+jets,0.59,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cccccc,"[0.0, 0.0, 0.0, 0.0, 0.0, 7.608013020465876e-0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0010357327809..."
39,_qual_trg_st,j1PtD,M-2000_a-high,Z+jets,0.54,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#999910,"[0.0, 0.0, 0.0, 0.0, 0.0, 7.608013020465876e-0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0008278145695..."
40,_qual_trg_st,j1PtD,mMed 600,W+jets,0.56,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#cd2bcc,"[2.220446049250313e-16, 2.220446049250313e-16,...","[-2.220446049250313e-16, -2.220446049250313e-1..."
41,_qual_trg_st,j1PtD,baseline,W+jets,0.60,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#cc660d,"[2.220446049250313e-16, 2.220446049250313e-16,...","[-2.220446049250313e-16, -2.220446049250313e-1..."
42,_qual_trg_st,j1PtD,M-2000_mD-1,W+jets,0.51,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#f2231b,"[0.9999999999999998, 0.9999999999999998, 0.999...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.99506984..."
43,_qual_trg_st,j1PtD,M-2000_mD-100,W+jets,0.57,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#9a27cc,"[2.220446049250313e-16, 2.220446049250313e-16,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0008571428571..."
44,_qual_trg_st,j1PtD,M-2000_r-0p1,W+jets,0.64,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#663303,"[2.220446049250313e-16, 2.220446049250313e-16,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.000493827160493731..."
45,_qual_trg_st,j1PtD,M-2000_r-0p7,W+jets,0.51,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#f69acc,"[2.220446049250313e-16, 2.220446049250313e-16,...","[1.1102230246251565e-16, 1.1102230246251565e-1..."
46,_qual_trg_st,j1PtD,M-2000_a-low,W+jets,0.60,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#cccccc,"[2.220446049250313e-16, 2.220446049250313e-16,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0010357327809..."
47,_qual_trg_st,j1PtD,M-2000_a-high,W+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#cccc19,#999910,"[2.220446049250313e-16, 2.220446049250313e-16,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0008278145695..."
48,_qual_trg_st,j1PtD,mMed 600,TTJets (pow),0.52,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#6666cc,#cd2bcc,"[0.9999999999999999, 0.9999999999999999, 0.999...","[1.0000000000000002, 1.0000000000000002, 1.000..."
49,_qual_trg_st,j1PtD,baseline,TTJets (pow),0.52,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#6666cc,#cc660d,"[1.1102230246251565e-16, 1.1102230246251565e-1...","[-2.220446049250313e-16, -2.220446049250313e-1..."
50,_qual_trg_st,j1PtD,M-2000_mD-1,TTJets (pow),0.59,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#6666cc,#f2231b,"[0.9999999999999999, 0.9999999999999999, 0.999...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.99506984..."
51,_qual_trg_st,j1PtD,M-2000_mD-100,TTJets (pow),0.51,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#6666cc,#9a27cc,"[0.9999999999999999, 0.9999999999999999, 0.999...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9991428571428..."

,bkg,var,counts,bkg,var,counts,bkg,var,counts,bkg,var,counts
0,QCD,dRj12,8,TTJets (pow),METrHT_pt30,7.0,W+jets,st,7.0,Z+jets,st,7.0
1,QCD,met,8,TTJets (pow),j1PtAK8,7.0,W+jets,nb,7.0,Z+jets,j2Tau2AK8,7.0
2,QCD,dRj12AK8,8,TTJets (pow),met,7.0,W+jets,j2Tau2AK8,7.0,Z+jets,njetsAK8,7.0
3,QCD,METrHT_pt30,7,TTJets (pow),j2Tau21AK8,7.0,W+jets,j2Tau3AK8,7.0,Z+jets,dPhiMinjMET,7.0
4,QCD,nb,7,TTJets (pow),METrST_pt30,7.0,W+jets,j2AxisminorAK8,6.0,Z+jets,njets,7.0
5,QCD,j2Tau3AK8,7,TTJets (pow),st,7.0,W+jets,ht,6.0,Z+jets,nb,7.0
6,QCD,j2Tau2AK8,7,TTJets (pow),j4Axismajor,6.0,W+jets,njets,5.0,Z+jets,j3Pt,7.0
7,QCD,METrST_pt30,7,TTJets (pow),j4Axisminor,6.0,W+jets,j1PtAK8,4.0,Z+jets,j2Tau3AK8,7.0
8,QCD,st,7,TTJets (pow),j1Pt,6.0,W+jets,j2Axisminor,4.0,Z+jets,dPhiMinjMETAK8,6.0
9,QCD,dPhij12,6,TTJets (pow),mT,5.0,W+jets,j2Axismajor,4.0,Z+jets,ht,6.0
10,QCD,dPhij12AK8,6,TTJets (pow),j3Axismajor,4.0,W+jets,j2Tau1AK8,4.0,Z+jets,j2AxisminorAK8,6.0
11,QCD,j2AxisminorAK8,6,TTJets (pow),j3Axisminor,3.0,W+jets,j2PtDAK8,4.0,Z+jets,j2Tau1AK8,5.0
12,QCD,njets,5,TTJets (pow),j2AxismajorAK8,3.0,W+jets,dRj12AK8,4.0,Z+jets,j2GirthAK8,5.0
13,QCD,j2GirthAK8,5,TTJets (pow),njets,3.0,W+jets,dRj12,4.0,Z+jets,j2PtDAK8,4.0
14,QCD,j2Tau1AK8,5,TTJets (pow),j2SoftDropMassAK8,3.0,W+jets,njetsAK8,4.0,Z+jets,j2AxismajorAK8,4.0
15,QCD,j1PtAK8,5,TTJets (pow),j1AxismajorAK8,3.0,W+jets,j1Pt,3.0,Z+jets,j4Pt,4.0

,var,cutValues,cutDir,sigLabel,sgCutYield,bkgLabel,bgCutYield
0,METrHT_pt30,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",>=cut,M-2000_a-high,"[438.0, 403.796357615894, 342.03642384105956, ...",QCD,"[15783518.000000017, 9698174.066209298, 346100..."
1,METrHT_pt30,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",>=cut,M-2000_a-high,"[438.0, 403.796357615894, 342.03642384105956, ...",TTJets (pow),"[115574.0, 82032.25372020717, 43519.7559540202..."
2,METrHT_pt30,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",>=cut,M-2000_a-high,"[438.0, 403.796357615894, 342.03642384105956, ...",W+jets,"[43044.99999999999, 39108.2648669497, 31603.91..."
3,METrHT_pt30,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",<=cut,M-2000_a-high,"[438.0, 403.796357615894, 342.03642384105956, ...",Z+jets,"[25437.000000000007, 24523.942193925057, 22409..."
4,METrHT_pt30,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",>=cut,M-2000_a-low,"[464.99999999999994, 415.2731745209736, 350.25...",QCD,"[15783518.000000017, 9698174.066209298, 346100..."
...,...,...,...,...,...,...,...
475,st,"[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0...",>=cut,baseline,"[413.00000000000045, 413.00000000000045, 413.0...",Z+jets,"[25437.000000000007, 25437.000000000007, 25437..."
476,st,"[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0...",>=cut,mMed 600,"[26066.00000000003, 26066.00000000003, 26066.0...",QCD,"[15783517.999999987, 15783517.999999987, 15783..."
477,st,"[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0...",>=cut,mMed 600,"[26066.00000000003, 26066.00000000003, 26066.0...",TTJets (pow),"[115573.99999999988, 115573.99999999988, 11557..."
478,st,"[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0...",<=cut,mMed 600,"[26066.00000000003, 26066.00000000003, 26066.0...",W+jets,"[43044.99999999995, 43044.99999999995, 43044.9..."
479,st,"[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0...",<=cut,mMed 600,"[26066.00000000003, 26066.00000000003, 26066.0...",Z+jets,"[25437.000000000007, 25437.000000000007, 25437..."

/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in true_divide
  import sys
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in true_divide
  import sys
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in sqrt
  import sys
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in log
  import sys
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:183: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:187: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
/home/keane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:189: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

              cut       var         source       yield
204  _qual_trg_st  njetsAK8         Z+jets     25437.0
205  _qual_trg_st  njetsAK8         W+jets     43045.0
206  _qual_trg_st  njetsAK8   TTJets (pow)    115574.0
207  _qual_trg_st  njetsAK8            QCD  15783518.0
208  _qual_trg_st  njetsAK8       mMed 600     26066.0
209  _qual_trg_st  njetsAK8       baseline       413.0
210  _qual_trg_st  njetsAK8    M-2000_mD-1       834.0
211  _qual_trg_st  njetsAK8  M-2000_mD-100       395.0
212  _qual_trg_st  njetsAK8   M-2000_r-0p1       399.0
213  _qual_trg_st  njetsAK8   M-2000_r-0p7       322.0
214  _qual_trg_st  njetsAK8   M-2000_a-low       465.0
215  _qual_trg_st  njetsAK8  M-2000_a-high       438.0

_qual_trg_st

             sig       QCD         TT      W+Jets      Z+Jets       All
0       mMed 600  6.559232  74.032488  115.376211  143.290138  6.521340
1       baseline  0.103955   1.214120    1.987451    2.582547  0.103354
2    M-2000_mD-1  0.209923   2.450275    4.006925    5.200983  0.208710
3  M-2000_mD-100  0.099425   1.161234    1.900962    2.470279  0.098850
4   M-2000_r-0p1  0.100431   1.172987    1.920183    2.495229  0.099851
5   M-2000_r-0p7  0.081050   0.946726    1.550081    2.014701  0.080581
6   M-2000_a-low  0.117044   1.366885    2.237239    2.906731  0.116367
7  M-2000_a-high  0.110248   1.287568    2.107554    2.738432  0.109611

_qual_trg

               QCD   TT  W+Jets  Z+Jets  All
sig
mMed 600       1.0  1.0     1.0     1.0  1.0
baseline       1.0  1.0     1.0     1.0  1.0
M-2000_mD-1    1.0  1.0     1.0     1.0  1.0
M-2000_mD-100  1.0  1.0     1.0     1.0  1.0
M-2000_r-0p1   1.0  1.0     1.0     1.0  1.0
M-2000_r-0p7   1.0  1.0     1.0     1.0  1.0
M-2000_a-low   1.0  1.0     1.0     1.0  1.0
M-2000_a-high  1.0  1.0     1.0     1.0  1.0

_qual_trg_st

                    QCD        TT    W+Jets    Z+Jets       All
sig
mMed 600       0.477619  0.494217  1.181208  1.410229  0.485509
baseline       1.295568  1.357719  3.451192  4.307799  1.316978
M-2000_mD-1    1.844795  1.932240  4.906453  6.117545  1.875282
M-2000_mD-100  1.051297  1.101784  2.800711  3.496034  1.068669
M-2000_r-0p1   1.729865  1.812823  4.608276  5.752283  1.758447
M-2000_r-0p7   0.941511  0.986816  2.508927  3.132412  0.957072
M-2000_a-low   1.260009  1.320381  3.355820  4.188185  1.280830
M-2000_a-high  1.228134  1.287026  3.271270  4.082953  1.248432

# Round 2

In [4]:
performStudy("preStudy_run2","_qual_trg")

/home/keane/anaconda3/lib/python3.7/site-packages/pandas/core/missing.py:94: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

,cut,var,sig,bkg,roc_auc,cutDir,cutSig,cBg,cSig,mBg_f,mSig_f
0,_qual_trg,j1PtD,mMed 600,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cd2bcc,"[-2.220446049250313e-16, 4.081572031688907e-06...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0007125679166..."
1,_qual_trg,j1PtD,baseline,Z+jets,0.64,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cc660d,"[-2.220446049250313e-16, 4.081572031688907e-06...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0026780279975..."
2,_qual_trg,j1PtD,M-2000_mD-1,Z+jets,0.53,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f2231b,"[1.0000000000000002, 0.9999959184279683, 0.999...","[1.0000000000000002, 1.0000000000000002, 1.000..."
3,_qual_trg,j1PtD,M-2000_mD-100,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#9a27cc,"[-2.220446049250313e-16, 4.081572031688907e-06...","[-2.220446049250313e-16, -2.220446049250313e-1..."
4,_qual_trg,j1PtD,M-2000_r-0p1,Z+jets,0.66,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#663303,"[-2.220446049250313e-16, 4.081572031688907e-06...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.000272108843537233..."

,bkg,var,counts,bkg,var,counts,bkg,var,counts,bkg,var,counts
0,QCD,dRj12AK8,8.0,TTJets (pow),j2Tau21AK8,7.0,W+jets,st,8.0,Z+jets,METrHT_pt30,8
1,QCD,met,8.0,TTJets (pow),j1Tau21AK8,7.0,W+jets,j1PtAK8,8.0,Z+jets,ht,8
2,QCD,dRj13AK8,8.0,TTJets (pow),st,6.0,W+jets,dPhiMinjMET,8.0,Z+jets,njetsAK8,8
3,QCD,dRj12,8.0,TTJets (pow),j1Pt,6.0,W+jets,njetsAK8,8.0,Z+jets,njets,8
4,QCD,METrST_pt30,7.0,TTJets (pow),met,6.0,W+jets,njets,8.0,Z+jets,mT,8
5,QCD,dPhij23AK8,7.0,TTJets (pow),j1AxismajorAK8,5.0,W+jets,ht,8.0,Z+jets,j3Pt,8
6,QCD,METrHT_pt30,7.0,TTJets (pow),j1GirthAK8,5.0,W+jets,j2Pt,8.0,Z+jets,METrST_pt30,8
7,QCD,nb,7.0,TTJets (pow),j2Pt,5.0,W+jets,j1SoftDropMassAK8,8.0,Z+jets,j1SoftDropMassAK8,8
8,QCD,dEtaj23AK8,6.0,TTJets (pow),j1PtAK8,4.0,W+jets,j1Pt,8.0,Z+jets,j1PtAK8,8
9,QCD,dPhij12AK8,6.0,TTJets (pow),j3PtAK8,4.0,W+jets,nb,7.0,Z+jets,j1Pt,8
10,QCD,dPhij12,6.0,TTJets (pow),mT,4.0,W+jets,mT,7.0,Z+jets,j2Pt,8
11,QCD,dPhij1MET,5.0,TTJets (pow),j4Axismajor,3.0,W+jets,j4Pt,7.0,Z+jets,st,8
12,QCD,dPhij13AK8,4.0,TTJets (pow),ht,3.0,W+jets,j3Pt,7.0,Z+jets,dPhiMinjMET,8
13,QCD,j3PtAK8,4.0,TTJets (pow),j4PtAK8,3.0,W+jets,METrST_pt30,7.0,Z+jets,dPhiMinjMETAK8,8
14,QCD,j4PtAK8,4.0,TTJets (pow),j1Tau1AK8,3.0,W+jets,METrHT_pt30,7.0,Z+jets,nb,7
15,QCD,j1Tau2AK8,4.0,TTJets (pow),dPhiMinjMETAK8,3.0,W+jets,dPhiMinjMETAK8,7.0,Z+jets,j4Pt,7
16,QCD,njets,4.0,TTJets (pow),njetsAK8,3.0,W+jets,j2PtAK8,6.0,Z+jets,j2PtAK8,6
17,QCD,dPhij23,4.0,TTJets (pow),j2PtAK8,3.0,W+jets,j3PtAK8,6.0,Z+jets,dPhij12,6
18,QCD,j4SoftDropMassAK8,3.0,TTJets (pow),j3Pt,2.0,W+jets,j2PtD,4.0,Z+jets,j3PtAK8,6
19,QCD,j2Tau2AK8,3.0,TTJets (pow),nb,2.0,W+jets,dPhij12,4.0,Z+jets,j2SoftDropMassAK8,6
20,QCD,j2Tau1AK8,3.0,TTJets (pow),njets,2.0,W+jets,j4PtAK8,4.0,Z+jets,dPhij1METAK8,5

           cut       var         source        yield
864  _qual_trg  njetsAK8         Z+jets    2793174.0
865  _qual_trg  njetsAK8         W+jets    3027143.0
866  _qual_trg  njetsAK8   TTJets (pow)    1255211.0
867  _qual_trg  njetsAK8            QCD  155942052.0
868  _qual_trg  njetsAK8       mMed 600     171527.0
869  _qual_trg  njetsAK8       baseline       1002.0
870  _qual_trg  njetsAK8    M-2000_mD-1       1421.0
871  _qual_trg  njetsAK8  M-2000_mD-100       1181.0
872  _qual_trg  njetsAK8   M-2000_r-0p1        725.0
873  _qual_trg  njetsAK8   M-2000_r-0p7       1075.0
874  _qual_trg  njetsAK8   M-2000_a-low       1160.0
875  _qual_trg  njetsAK8  M-2000_a-high       1121.0

_qual_trg

             sig        QCD          TT     W+Jets      Z+Jets        All
0       mMed 600  13.733185  149.797452  97.676461  101.607736  13.431952
1       baseline   0.080239    0.894235   0.575874    0.599505   0.078478
2    M-2000_mD-1   0.113792    1.268101   0.816664    0.850175   0.111295
3  M-2000_mD-100   0.094573    1.053958   0.678743    0.706595   0.092498
4   M-2000_r-0p1   0.058057    0.647050   0.416681    0.433781   0.056784
5   M-2000_r-0p7   0.086085    0.959374   0.617826    0.643179   0.084196
6   M-2000_a-low   0.092891    1.035220   0.666674    0.694031   0.090853
7  M-2000_a-high   0.089769    1.000421   0.644262    0.670699   0.087799

,cut,var,sig,bkg,roc_auc,cutDir,cutSig,cBg,cSig,mBg_f,mSig_f
32,_qual_trg_st_dPhiMinjMET,j1PtD,mMed 600,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cd2bcc,"[-2.220446049250313e-16, -2.220446049250313e-1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0006410256410..."
33,_qual_trg_st_dPhiMinjMET,j1PtD,baseline,Z+jets,0.59,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cc660d,"[-2.220446049250313e-16, -2.220446049250313e-1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0047393364928..."
34,_qual_trg_st_dPhiMinjMET,j1PtD,M-2000_mD-1,Z+jets,0.52,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f2231b,"[1.0000000000000002, 1.0000000000000002, 1.000...","[0.9999999999999999, 0.9999999999999999, 0.999..."
35,_qual_trg_st_dPhiMinjMET,j1PtD,M-2000_mD-100,Z+jets,0.56,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#9a27cc,"[-2.220446049250313e-16, -2.220446049250313e-1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0009375000000..."
36,_qual_trg_st_dPhiMinjMET,j1PtD,M-2000_r-0p1,Z+jets,0.63,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#663303,"[-2.220446049250313e-16, -2.220446049250313e-1...","[-2.220446049250313e-16, -2.220446049250313e-1..."

,bkg,var,counts,bkg,var,counts,bkg,var,counts,bkg,var,counts
0,QCD,dRj12,8,TTJets (pow),METrHT_pt30,7.0,W+jets,st,7.0,Z+jets,st,7.0
1,QCD,met,8,TTJets (pow),j1PtAK8,7.0,W+jets,nb,7.0,Z+jets,nb,7.0
2,QCD,dRj12AK8,8,TTJets (pow),met,7.0,W+jets,j2Tau3AK8,7.0,Z+jets,j2Tau2AK8,7.0
3,QCD,METrHT_pt30,7,TTJets (pow),METrST_pt30,7.0,W+jets,j2Tau2AK8,7.0,Z+jets,j2Tau3AK8,7.0
4,QCD,nb,7,TTJets (pow),st,7.0,W+jets,j2AxisminorAK8,6.0,Z+jets,j2AxisminorAK8,6.0
5,QCD,j2Tau3AK8,7,TTJets (pow),j2Tau21AK8,6.0,W+jets,ht,6.0,Z+jets,ht,6.0
6,QCD,j2Tau2AK8,7,TTJets (pow),j1Pt,6.0,W+jets,j2Axisminor,6.0,Z+jets,njetsAK8,5.0
7,QCD,METrST_pt30,7,TTJets (pow),j4Axisminor,6.0,W+jets,njets,5.0,Z+jets,j2GirthAK8,5.0
8,QCD,st,7,TTJets (pow),j4Axismajor,6.0,W+jets,j1PtAK8,4.0,Z+jets,njets,5.0
9,QCD,dPhij12,6,TTJets (pow),mT,5.0,W+jets,j2Axismajor,4.0,Z+jets,j2AxismajorAK8,5.0
10,QCD,j2AxisminorAK8,6,TTJets (pow),j3Axismajor,4.0,W+jets,j2PtDAK8,4.0,Z+jets,j2Tau1AK8,5.0
11,QCD,dPhij23AK8,5,TTJets (pow),j1AxismajorAK8,3.0,W+jets,dRj12AK8,4.0,Z+jets,j1PtAK8,4.0
12,QCD,njets,5,TTJets (pow),j1GirthAK8,3.0,W+jets,dRj12,4.0,Z+jets,j2Axismajor,4.0
13,QCD,dPhij12AK8,5,TTJets (pow),njets,3.0,W+jets,j3Tau2AK8,3.0,Z+jets,j2SoftDropMassAK8,4.0
14,QCD,j2GirthAK8,5,TTJets (pow),j1Tau1AK8,3.0,W+jets,j2SoftDropMassAK8,3.0,Z+jets,j2PtDAK8,4.0
15,QCD,j2Tau1AK8,5,TTJets (pow),j3Axisminor,3.0,W+jets,njetsAK8,3.0,Z+jets,j3Pt,4.0
16,QCD,j1PtAK8,5,TTJets (pow),j2Pt,3.0,W+jets,j3Pt,3.0,Z+jets,dRj12,4.0

                          cut       var         source       yield
876  _qual_trg_st_dPhiMinjMET  njetsAK8         Z+jets     15090.0
877  _qual_trg_st_dPhiMinjMET  njetsAK8         W+jets     34371.0
878  _qual_trg_st_dPhiMinjMET  njetsAK8   TTJets (pow)    106921.0
879  _qual_trg_st_dPhiMinjMET  njetsAK8            QCD  13587572.0
880  _qual_trg_st_dPhiMinjMET  njetsAK8       mMed 600     23793.0
881  _qual_trg_st_dPhiMinjMET  njetsAK8       baseline       384.0
882  _qual_trg_st_dPhiMinjMET  njetsAK8    M-2000_mD-1       774.0
883  _qual_trg_st_dPhiMinjMET  njetsAK8  M-2000_mD-100       361.0
884  _qual_trg_st_dPhiMinjMET  njetsAK8   M-2000_r-0p1       374.0
885  _qual_trg_st_dPhiMinjMET  njetsAK8   M-2000_r-0p7       257.0
886  _qual_trg_st_dPhiMinjMET  njetsAK8   M-2000_a-low       416.0
887  _qual_trg_st_dPhiMinjMET  njetsAK8  M-2000_a-high       398.0

_qual_trg_st_dPhiMinjMET

             sig       QCD         TT      W+Jets      Z+Jets       All
0       mMed 600  6.452850  70.288707  116.656514  161.311663  6.416056
1       baseline  0.104174   1.173654    2.067424    3.112864  0.103579
2    M-2000_mD-1  0.209974   2.364214    4.159365    6.248065  0.208776
3  M-2000_mD-100  0.097934   1.103396    1.943809    2.927148  0.097375
4   M-2000_r-0p1  0.101461   1.143108    2.013681    3.032129  0.100882
5   M-2000_r-0p7  0.069721   0.785648    1.384513    2.086232  0.069323
6   M-2000_a-low  0.112855   1.271395    2.239364    3.371098  0.112211
7  M-2000_a-high  0.107972   1.216417    2.142654    3.225863  0.107356

,cut,var,sig,bkg,roc_auc,cutDir,cutSig,cBg,cSig,mBg_f,mSig_f
64,_qual_trg_st_dPhiMinjMETAK8,j1PtD,mMed 600,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cd2bcc,"[2.220446049250313e-16, 2.220446049250313e-16,...","[-2.220446049250313e-16, -2.220446049250313e-1..."
65,_qual_trg_st_dPhiMinjMETAK8,j1PtD,baseline,Z+jets,0.59,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cc660d,"[2.220446049250313e-16, 2.220446049250313e-16,...","[-2.220446049250313e-16, -2.220446049250313e-1..."
66,_qual_trg_st_dPhiMinjMETAK8,j1PtD,M-2000_mD-1,Z+jets,0.52,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f2231b,"[0.9999999999999998, 0.9999999999999998, 0.999...","[0.9999999999999998, 0.9999999999999998, 0.999..."
67,_qual_trg_st_dPhiMinjMETAK8,j1PtD,M-2000_mD-100,Z+jets,0.57,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#9a27cc,"[2.220446049250313e-16, 2.220446049250313e-16,...","[2.220446049250313e-16, 2.220446049250313e-16,..."
68,_qual_trg_st_dPhiMinjMETAK8,j1PtD,M-2000_r-0p1,Z+jets,0.63,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#663303,"[2.220446049250313e-16, 2.220446049250313e-16,...","[3.3306690738754696e-16, 3.3306690738754696e-1..."

,bkg,var,counts,bkg,var,counts,bkg,var,counts,bkg,var,counts
0,QCD,dRj12,8,TTJets (pow),METrHT_pt30,7.0,W+jets,st,7.0,Z+jets,st,7.0
1,QCD,met,8,TTJets (pow),j1Pt,7.0,W+jets,j2Axisminor,7.0,Z+jets,nb,7.0
2,QCD,dRj12AK8,8,TTJets (pow),met,7.0,W+jets,nb,7.0,Z+jets,j2Tau2AK8,7.0
3,QCD,METrHT_pt30,7,TTJets (pow),mT,7.0,W+jets,j2Tau2AK8,7.0,Z+jets,j2Tau3AK8,7.0
4,QCD,nb,7,TTJets (pow),j2Tau21AK8,7.0,W+jets,j2Tau3AK8,7.0,Z+jets,ht,6.0
5,QCD,j2Tau3AK8,7,TTJets (pow),METrST_pt30,7.0,W+jets,dRj12,7.0,Z+jets,j2AxisminorAK8,6.0
6,QCD,j2Tau2AK8,7,TTJets (pow),j1PtAK8,7.0,W+jets,ht,6.0,Z+jets,j2AxismajorAK8,6.0
7,QCD,METrST_pt30,7,TTJets (pow),st,7.0,W+jets,j2AxisminorAK8,6.0,Z+jets,j2PtDAK8,6.0
8,QCD,st,7,TTJets (pow),j4Axisminor,6.0,W+jets,j2PtDAK8,6.0,Z+jets,j2Tau1AK8,6.0
9,QCD,j2AxisminorAK8,6,TTJets (pow),j4Axismajor,6.0,W+jets,dRj12AK8,6.0,Z+jets,j2GirthAK8,6.0
10,QCD,j2Tau1AK8,6,TTJets (pow),j1AxismajorAK8,3.0,W+jets,j2Tau1AK8,5.0,Z+jets,dPhiMinjMET,6.0
11,QCD,dPhij23AK8,6,TTJets (pow),j2SoftDropMassAK8,3.0,W+jets,njets,5.0,Z+jets,dRj12,5.0
12,QCD,j1PtAK8,6,TTJets (pow),njets,3.0,W+jets,j1PtAK8,5.0,Z+jets,njets,5.0
13,QCD,njets,5,TTJets (pow),j3Axisminor,3.0,W+jets,j2Axismajor,4.0,Z+jets,j2Axisminor,5.0
14,QCD,j2GirthAK8,5,TTJets (pow),j3Axismajor,3.0,W+jets,j2SoftDropMassAK8,3.0,Z+jets,njetsAK8,5.0
15,QCD,dPhij12,5,TTJets (pow),j2Pt,3.0,W+jets,j2GirthAK8,3.0,Z+jets,j3Pt,4.0

                             cut       var         source       yield
888  _qual_trg_st_dPhiMinjMETAK8  njetsAK8         Z+jets     15577.0
889  _qual_trg_st_dPhiMinjMETAK8  njetsAK8         W+jets     33164.0
890  _qual_trg_st_dPhiMinjMETAK8  njetsAK8   TTJets (pow)    105593.0
891  _qual_trg_st_dPhiMinjMETAK8  njetsAK8            QCD  14521630.0
892  _qual_trg_st_dPhiMinjMETAK8  njetsAK8       mMed 600     22161.0
893  _qual_trg_st_dPhiMinjMETAK8  njetsAK8       baseline       364.0
894  _qual_trg_st_dPhiMinjMETAK8  njetsAK8    M-2000_mD-1       761.0
895  _qual_trg_st_dPhiMinjMETAK8  njetsAK8  M-2000_mD-100       314.0
896  _qual_trg_st_dPhiMinjMETAK8  njetsAK8   M-2000_r-0p1       374.0
897  _qual_trg_st_dPhiMinjMETAK8  njetsAK8   M-2000_r-0p7       184.0
898  _qual_trg_st_dPhiMinjMETAK8  njetsAK8   M-2000_a-low       390.0
899  _qual_trg_st_dPhiMinjMETAK8  njetsAK8  M-2000_a-high       370.0

_qual_trg_st_dPhiMinjMETAK8

             sig       QCD         TT      W+Jets      Z+Jets       All
0       mMed 600  5.813950  65.999760  110.924465  149.881970  5.783314
1       baseline  0.095519   1.119527    1.995154    2.905234  0.095016
2    M-2000_mD-1  0.199698   2.339089    4.162966    6.048710  0.198645
3  M-2000_mD-100  0.082399   0.965822    1.721524    2.507485  0.081964
4   M-2000_r-0p1  0.098144   1.150265    2.049863    2.984733  0.097626
5   M-2000_r-0p7  0.048285   0.566075    1.009447    1.471378  0.048030
6   M-2000_a-low  0.102342   1.199444    2.137388    3.111898  0.101803
7  M-2000_a-high  0.097094   1.137970    2.027980    2.952936  0.096582

,cut,var,sig,bkg,roc_auc,cutDir,cutSig,cBg,cSig,mBg_f,mSig_f
96,_qual_trg_st_dPhij12,j1PtD,mMed 600,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cd2bcc,"[1.1102230246251565e-16, 1.1102230246251565e-1...","[-2.220446049250313e-16, -2.220446049250313e-1..."
97,_qual_trg_st_dPhij12,j1PtD,baseline,Z+jets,0.58,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cc660d,"[1.1102230246251565e-16, 1.1102230246251565e-1...","[1.1102230246251565e-16, 1.1102230246251565e-1..."
98,_qual_trg_st_dPhij12,j1PtD,M-2000_mD-1,Z+jets,0.52,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f2231b,"[0.9999999999999999, 0.9999999999999999, 0.999...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.99476439..."
99,_qual_trg_st_dPhij12,j1PtD,M-2000_mD-100,Z+jets,0.56,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#9a27cc,"[1.1102230246251565e-16, 1.1102230246251565e-1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0003394433129..."
100,_qual_trg_st_dPhij12,j1PtD,M-2000_r-0p1,Z+jets,0.62,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#663303,"[1.1102230246251565e-16, 1.1102230246251565e-1...","[-2.220446049250313e-16, -2.220446049250313e-1..."

,bkg,var,counts,bkg,var,counts,bkg,var,counts,bkg,var,counts
0,QCD,dRj12,8,TTJets (pow),METrHT_pt30,7.0,W+jets,st,7.0,Z+jets,dPhiMinjMET,8.0
1,QCD,met,8,TTJets (pow),j1PtAK8,7.0,W+jets,nb,7.0,Z+jets,st,7.0
2,QCD,dRj12AK8,8,TTJets (pow),met,7.0,W+jets,j2Tau2AK8,6.0,Z+jets,njetsAK8,7.0
3,QCD,METrHT_pt30,7,TTJets (pow),METrST_pt30,7.0,W+jets,ht,6.0,Z+jets,dPhiMinjMETAK8,7.0
4,QCD,nb,7,TTJets (pow),st,7.0,W+jets,j2Tau3AK8,6.0,Z+jets,ht,7.0
5,QCD,METrST_pt30,7,TTJets (pow),j4Axisminor,6.0,W+jets,njets,5.0,Z+jets,njets,7.0
6,QCD,st,7,TTJets (pow),j4Axismajor,6.0,W+jets,j2AxisminorAK8,5.0,Z+jets,nb,7.0
7,QCD,j1PtAK8,6,TTJets (pow),j2Tau21AK8,6.0,W+jets,j1PtAK8,5.0,Z+jets,j3Pt,7.0
8,QCD,j2AxisminorAK8,5,TTJets (pow),j1Pt,6.0,W+jets,j1Pt,3.0,Z+jets,j2AxisminorAK8,5.0
9,QCD,j2Tau3AK8,5,TTJets (pow),mT,5.0,W+jets,j2Tau1AK8,3.0,Z+jets,j2Tau3AK8,5.0
10,QCD,njets,5,TTJets (pow),j2SoftDropMassAK8,3.0,W+jets,j2GirthAK8,3.0,Z+jets,j2Tau2AK8,5.0
11,QCD,j2Tau2AK8,5,TTJets (pow),j2AxismajorAK8,3.0,W+jets,j2Axisminor,3.0,Z+jets,METrST_pt30,5.0
12,QCD,j2Axismajor,4,TTJets (pow),njets,3.0,W+jets,j2Axismajor,3.0,Z+jets,METrHT_pt30,5.0
13,QCD,j1Pt,4,TTJets (pow),j3Axisminor,3.0,W+jets,j3SoftDropMassAK8,3.0,Z+jets,j1PtAK8,5.0

                      cut       var         source      yield
900  _qual_trg_st_dPhij12  njetsAK8         Z+jets    19365.0
901  _qual_trg_st_dPhij12  njetsAK8         W+jets    30457.0
902  _qual_trg_st_dPhij12  njetsAK8   TTJets (pow)    90779.0
903  _qual_trg_st_dPhij12  njetsAK8            QCD  9571771.0
904  _qual_trg_st_dPhij12  njetsAK8       mMed 600    22589.0
905  _qual_trg_st_dPhij12  njetsAK8       baseline      332.0
906  _qual_trg_st_dPhij12  njetsAK8    M-2000_mD-1      680.0
907  _qual_trg_st_dPhij12  njetsAK8  M-2000_mD-100      332.0
908  _qual_trg_st_dPhij12  njetsAK8   M-2000_r-0p1      313.0
909  _qual_trg_st_dPhij12  njetsAK8   M-2000_r-0p7      278.0
910  _qual_trg_st_dPhij12  njetsAK8   M-2000_a-low      363.0
911  _qual_trg_st_dPhij12  njetsAK8  M-2000_a-high      370.0

_qual_trg_st_dPhij12

             sig       QCD         TT      W+Jets      Z+Jets       All
0       mMed 600  7.298442  72.147591  116.989180  140.327536  7.245463
1       baseline  0.107310   1.101237    1.898927    2.379005  0.106530
2    M-2000_mD-1  0.219790   2.254111    3.882051    4.858338  0.218193
3  M-2000_mD-100  0.107310   1.101237    1.898927    2.379005  0.106530
4   M-2000_r-0p1  0.101169   1.038251    1.790439    2.243220  0.100434
5   M-2000_r-0p7  0.089856   0.922212    1.590533    1.992975  0.089203
6   M-2000_a-low  0.117330   1.203996    2.075887    2.600456  0.116477
7  M-2000_a-high  0.119592   1.227197    2.115838    2.650444  0.118723

,cut,var,sig,bkg,roc_auc,cutDir,cutSig,cBg,cSig,mBg_f,mSig_f
128,_qual_trg_st_dPhij12AK8,j1PtD,mMed 600,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cd2bcc,"[3.3306690738754696e-16, 3.3306690738754696e-1...","[1.1102230246251565e-16, 1.1102230246251565e-1..."
129,_qual_trg_st_dPhij12AK8,j1PtD,baseline,Z+jets,0.58,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cc660d,"[3.3306690738754696e-16, 3.3306690738754696e-1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0039426523297..."
130,_qual_trg_st_dPhij12AK8,j1PtD,M-2000_mD-1,Z+jets,0.52,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f2231b,"[0.9999999999999997, 0.9999999999999997, 0.999...","[1.0000000000000002, 1.0000000000000002, 1.000..."
131,_qual_trg_st_dPhij12AK8,j1PtD,M-2000_mD-100,Z+jets,0.56,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#9a27cc,"[3.3306690738754696e-16, 3.3306690738754696e-1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0007029876977..."
132,_qual_trg_st_dPhij12AK8,j1PtD,M-2000_r-0p1,Z+jets,0.63,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#663303,"[3.3306690738754696e-16, 3.3306690738754696e-1...","[2.220446049250313e-16, 2.220446049250313e-16,..."

,bkg,var,counts,bkg,var,counts,bkg,var,counts,bkg,var,counts
0,QCD,dRj12,8,TTJets (pow),METrHT_pt30,7.0,W+jets,st,7.0,Z+jets,dPhiMinjMET,8.0
1,QCD,met,8,TTJets (pow),j1Pt,7.0,W+jets,nb,7.0,Z+jets,st,7.0
2,QCD,dRj12AK8,8,TTJets (pow),met,7.0,W+jets,j2Tau2AK8,7.0,Z+jets,njets,7.0
3,QCD,METrHT_pt30,7,TTJets (pow),mT,7.0,W+jets,j2Tau3AK8,7.0,Z+jets,nb,7.0
4,QCD,nb,7,TTJets (pow),METrST_pt30,7.0,W+jets,ht,6.0,Z+jets,njetsAK8,6.0
5,QCD,METrST_pt30,7,TTJets (pow),j1PtAK8,7.0,W+jets,j2AxisminorAK8,6.0,Z+jets,j2Tau2AK8,6.0
6,QCD,st,7,TTJets (pow),st,7.0,W+jets,njets,5.0,Z+jets,ht,6.0
7,QCD,j1PtAK8,6,TTJets (pow),j2Tau21AK8,6.0,W+jets,j2Axisminor,4.0,Z+jets,j2AxisminorAK8,6.0
8,QCD,j2Tau2AK8,5,TTJets (pow),j4Axismajor,6.0,W+jets,j1PtAK8,4.0,Z+jets,j3Pt,6.0
9,QCD,njets,5,TTJets (pow),j4Axisminor,6.0,W+jets,j2PtDAK8,4.0,Z+jets,j2Tau3AK8,5.0
10,QCD,j2Tau3AK8,5,TTJets (pow),j2Pt,4.0,W+jets,dRj12AK8,4.0,Z+jets,j2Tau1AK8,5.0
11,QCD,j2AxisminorAK8,5,TTJets (pow),j3Axisminor,3.0,W+jets,dRj12,4.0,Z+jets,j1PtAK8,5.0
12,QCD,dPhij23AK8,4,TTJets (pow),j3Axismajor,3.0,W+jets,j2Tau1AK8,3.0,Z+jets,j2GirthAK8,5.0
13,QCD,mT,4,TTJets (pow),j2SoftDropMassAK8,3.0,W+jets,j2GirthAK8,3.0,Z+jets,dPhiMinjMETAK8,5.0

                         cut       var         source       yield
912  _qual_trg_st_dPhij12AK8  njetsAK8         Z+jets     18232.0
913  _qual_trg_st_dPhij12AK8  njetsAK8         W+jets     32035.0
914  _qual_trg_st_dPhij12AK8  njetsAK8   TTJets (pow)     94583.0
915  _qual_trg_st_dPhij12AK8  njetsAK8            QCD  10660680.0
916  _qual_trg_st_dPhij12AK8  njetsAK8       mMed 600     23412.0
917  _qual_trg_st_dPhij12AK8  njetsAK8       baseline       339.0
918  _qual_trg_st_dPhij12AK8  njetsAK8    M-2000_mD-1       712.0
919  _qual_trg_st_dPhij12AK8  njetsAK8  M-2000_mD-100       321.0
920  _qual_trg_st_dPhij12AK8  njetsAK8   M-2000_r-0p1       330.0
921  _qual_trg_st_dPhij12AK8  njetsAK8   M-2000_r-0p7       229.0
922  _qual_trg_st_dPhij12AK8  njetsAK8   M-2000_a-low       367.0
923  _qual_trg_st_dPhij12AK8  njetsAK8  M-2000_a-high       378.0

_qual_trg_st_dPhij12AK8

             sig       QCD         TT      W+Jets      Z+Jets       All
0       mMed 600  7.167822  73.270793  118.373511  148.223276  7.119652
1       baseline  0.103826   1.101626    1.890706    2.502908  0.103127
2    M-2000_mD-1  0.218063   2.312224    3.963425    5.239287  0.216597
3  M-2000_mD-100  0.098313   1.043165    1.790481    2.370396  0.097652
4   M-2000_r-0p1  0.101069   1.072396    1.840596    2.436658  0.100390
5   M-2000_r-0p7  0.070136   0.744310    1.277930    1.692439  0.069664
6   M-2000_a-low  0.112401   1.192557    2.046575    2.708954  0.111645
7  M-2000_a-high  0.115770   1.228277    2.107797    2.789872  0.114992

,cut,var,sig,bkg,roc_auc,cutDir,cutSig,cBg,cSig,mBg_f,mSig_f
160,_qual_trg_st_dRj12,j1PtD,mMed 600,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cd2bcc,"[2.220446049250313e-16, 2.220446049250313e-16,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0013755158184..."
161,_qual_trg_st_dRj12,j1PtD,baseline,Z+jets,0.58,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cc660d,"[2.220446049250313e-16, 2.220446049250313e-16,...","[-4.440892098500626e-16, -4.440892098500626e-1..."
162,_qual_trg_st_dRj12,j1PtD,M-2000_mD-1,Z+jets,0.53,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f2231b,"[0.9999999999999998, 0.9999999999999998, 0.999...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0002069108214..."
163,_qual_trg_st_dRj12,j1PtD,M-2000_mD-100,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#9a27cc,"[2.220446049250313e-16, 2.220446049250313e-16,...","[1.1102230246251565e-16, 1.1102230246251565e-1..."
164,_qual_trg_st_dRj12,j1PtD,M-2000_r-0p1,Z+jets,0.63,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#663303,"[2.220446049250313e-16, 2.220446049250313e-16,...","[-2.220446049250313e-16, -2.220446049250313e-1..."

,bkg,var,counts,bkg,var,counts,bkg,var,counts,bkg,var,counts
0,QCD,met,8.0,TTJets (pow),METrHT_pt30,7.0,W+jets,st,7,Z+jets,dPhiMinjMET,8.0
1,QCD,METrHT_pt30,7.0,TTJets (pow),j1PtAK8,7.0,W+jets,nb,7,Z+jets,st,7.0
2,QCD,METrST_pt30,7.0,TTJets (pow),met,7.0,W+jets,j2Tau3AK8,7,Z+jets,njetsAK8,7.0
3,QCD,nb,7.0,TTJets (pow),mT,7.0,W+jets,ht,6,Z+jets,dPhiMinjMETAK8,7.0
4,QCD,mT,7.0,TTJets (pow),j2Tau21AK8,7.0,W+jets,j2AxisminorAK8,6,Z+jets,ht,7.0
5,QCD,st,7.0,TTJets (pow),METrST_pt30,7.0,W+jets,j2Tau2AK8,6,Z+jets,njets,7.0
6,QCD,j2AxisminorAK8,6.0,TTJets (pow),st,7.0,W+jets,njets,5,Z+jets,nb,7.0
7,QCD,j1PtAK8,6.0,TTJets (pow),j4Axisminor,6.0,W+jets,j1PtAK8,5,Z+jets,j3Pt,7.0
8,QCD,j2Tau3AK8,6.0,TTJets (pow),j4Axismajor,6.0,W+jets,j2PtDAK8,4,Z+jets,j2AxisminorAK8,6.0
9,QCD,dRj12,6.0,TTJets (pow),j1Pt,6.0,W+jets,j2Axismajor,4,Z+jets,j2Tau3AK8,6.0
10,QCD,j2Tau2AK8,6.0,TTJets (pow),j3Axismajor,4.0,W+jets,mT,4,Z+jets,j2Tau2AK8,6.0
11,QCD,njets,5.0,TTJets (pow),j2SoftDropMassAK8,3.0,W+jets,j2Axisminor,3,Z+jets,METrST_pt30,6.0
12,QCD,dPhij12,4.0,TTJets (pow),j2AxismajorAK8,3.0,W+jets,j3Pt,3,Z+jets,j2GirthAK8,5.0
13,QCD,j2Axismajor,4.0,TTJets (pow),njets,3.0,W+jets,j3AxisminorAK8,3,Z+jets,METrHT_pt30,5.0
14,QCD,j3Tau2AK8,3.0,TTJets (pow),j3Axisminor,3.0,W+jets,j3Tau2AK8,3,Z+jets,j2Tau1AK8,5.0
15,QCD,j2Tau1AK8,3.0,TTJets (pow),j2GirthAK8,3.0,W+jets,j3Tau3AK8,3,Z+jets,j1PtAK8,5.0

                    cut       var         source      yield
924  _qual_trg_st_dRj12  njetsAK8         Z+jets    16754.0
925  _qual_trg_st_dRj12  njetsAK8         W+jets    26285.0
926  _qual_trg_st_dRj12  njetsAK8   TTJets (pow)    80368.0
927  _qual_trg_st_dRj12  njetsAK8            QCD  8318135.0
928  _qual_trg_st_dRj12  njetsAK8       mMed 600    22177.0
929  _qual_trg_st_dRj12  njetsAK8       baseline      337.0
930  _qual_trg_st_dRj12  njetsAK8    M-2000_mD-1      662.0
931  _qual_trg_st_dRj12  njetsAK8  M-2000_mD-100      330.0
932  _qual_trg_st_dRj12  njetsAK8   M-2000_r-0p1      322.0
933  _qual_trg_st_dRj12  njetsAK8   M-2000_r-0p7      276.0
934  _qual_trg_st_dRj12  njetsAK8   M-2000_a-low      372.0
935  _qual_trg_st_dRj12  njetsAK8  M-2000_a-high      365.0

_qual_trg_st_dRj12

             sig       QCD         TT      W+Jets      Z+Jets       All
0       mMed 600  7.685940  74.989918  122.238763  145.930265  7.629603
1       baseline  0.116846   1.187915    2.074206    2.594922  0.115989
2    M-2000_mD-1  0.229530   2.331964    4.066269    5.081309  0.227846
3  M-2000_mD-100  0.114419   1.163257    2.031211    2.541197  0.113580
4   M-2000_r-0p1  0.111645   1.135075    1.982069    2.479787  0.110826
5   M-2000_r-0p7  0.095696   0.973014    1.699408    2.126493  0.094994
6   M-2000_a-low  0.128981   1.311194    2.289124    2.863441  0.128035
7  M-2000_a-high  0.126554   1.286539    2.246148    2.809752  0.125626

,cut,var,sig,bkg,roc_auc,cutDir,cutSig,cBg,cSig,mBg_f,mSig_f
192,_qual_trg_st_dRj12AK8,j1PtD,mMed 600,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cd2bcc,"[-2.220446049250313e-16, -2.220446049250313e-1...","[1.1102230246251565e-16, 1.1102230246251565e-1..."
193,_qual_trg_st_dRj12AK8,j1PtD,baseline,Z+jets,0.58,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cc660d,"[-2.220446049250313e-16, -2.220446049250313e-1...","[2.220446049250313e-16, 2.220446049250313e-16,..."
194,_qual_trg_st_dRj12AK8,j1PtD,M-2000_mD-1,Z+jets,0.53,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f2231b,"[1.0000000000000002, 1.0000000000000002, 1.000...","[0.9999999999999998, 0.9999999999999998, 0.999..."
195,_qual_trg_st_dRj12AK8,j1PtD,M-2000_mD-100,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#9a27cc,"[-2.220446049250313e-16, -2.220446049250313e-1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0007518796992..."
196,_qual_trg_st_dRj12AK8,j1PtD,M-2000_r-0p1,Z+jets,0.63,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#663303,"[-2.220446049250313e-16, -2.220446049250313e-1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.000632511068943575..."

,bkg,var,counts,bkg,var,counts,bkg,var,counts,bkg,var,counts
0,QCD,met,8.0,TTJets (pow),METrHT_pt30,7.0,W+jets,st,7,Z+jets,dPhiMinjMET,8.0
1,QCD,METrHT_pt30,7.0,TTJets (pow),j1Pt,7.0,W+jets,nb,7,Z+jets,st,7.0
2,QCD,METrST_pt30,7.0,TTJets (pow),met,7.0,W+jets,j2Tau3AK8,7,Z+jets,nb,7.0
3,QCD,nb,7.0,TTJets (pow),mT,7.0,W+jets,mT,6,Z+jets,dPhiMinjMETAK8,6.0
4,QCD,mT,7.0,TTJets (pow),j2Tau21AK8,7.0,W+jets,j2Tau2AK8,6,Z+jets,njets,6.0
5,QCD,st,7.0,TTJets (pow),METrST_pt30,7.0,W+jets,j2AxisminorAK8,6,Z+jets,ht,6.0
6,QCD,j1PtAK8,6.0,TTJets (pow),j1PtAK8,7.0,W+jets,ht,6,Z+jets,j3Pt,6.0
7,QCD,j2Tau3AK8,6.0,TTJets (pow),st,7.0,W+jets,j1PtAK8,5,Z+jets,j1PtAK8,6.0
8,QCD,j2AxisminorAK8,6.0,TTJets (pow),j4Axismajor,6.0,W+jets,njets,5,Z+jets,j2Tau2AK8,6.0
9,QCD,j2Tau2AK8,6.0,TTJets (pow),j4Axisminor,6.0,W+jets,j2Tau1AK8,4,Z+jets,j2AxisminorAK8,6.0
10,QCD,njets,5.0,TTJets (pow),j3Axismajor,4.0,W+jets,j2Axisminor,4,Z+jets,njetsAK8,5.0
11,QCD,dRj12,5.0,TTJets (pow),j2Pt,4.0,W+jets,j2PtDAK8,4,Z+jets,j2Tau3AK8,5.0
12,QCD,dPhij12,4.0,TTJets (pow),j1AxismajorAK8,3.0,W+jets,j2GirthAK8,3,Z+jets,j2Tau1AK8,5.0

                       cut       var         source      yield
936  _qual_trg_st_dRj12AK8  njetsAK8         Z+jets    13981.0
937  _qual_trg_st_dRj12AK8  njetsAK8         W+jets    23957.0
938  _qual_trg_st_dRj12AK8  njetsAK8   TTJets (pow)    76253.0
939  _qual_trg_st_dRj12AK8  njetsAK8            QCD  8047708.0
940  _qual_trg_st_dRj12AK8  njetsAK8       mMed 600    21429.0
941  _qual_trg_st_dRj12AK8  njetsAK8       baseline      322.0
942  _qual_trg_st_dRj12AK8  njetsAK8    M-2000_mD-1      642.0
943  _qual_trg_st_dRj12AK8  njetsAK8  M-2000_mD-100      300.0
944  _qual_trg_st_dRj12AK8  njetsAK8   M-2000_r-0p1      312.0
945  _qual_trg_st_dRj12AK8  njetsAK8   M-2000_r-0p7      212.0
946  _qual_trg_st_dRj12AK8  njetsAK8   M-2000_a-low      348.0
947  _qual_trg_st_dRj12AK8  njetsAK8  M-2000_a-high      350.0

_qual_trg_st_dRj12AK8

             sig       QCD         TT      W+Jets      Z+Jets       All
0       mMed 600  7.550457  74.336766  123.045300  151.507993  7.497499
1       baseline  0.113505   1.165258    2.075731    2.712891  0.112709
2    M-2000_mD-1  0.226304   2.321661    4.129488    5.388797  0.224716
3  M-2000_mD-100  0.105751   1.085696    1.934205    2.528191  0.105008
4   M-2000_r-0p1  0.109981   1.129095    2.011406    2.628948  0.109208
5   M-2000_r-0p7  0.074730   0.767373    1.367669    1.788441  0.074206
6   M-2000_a-low  0.122670   1.259276    2.242935    2.931050  0.121809
7  M-2000_a-high  0.123375   1.266508    2.255794    2.947826  0.122509

,cut,var,sig,bkg,roc_auc,cutDir,cutSig,cBg,cSig,mBg_f,mSig_f
224,_qual_trg_st_njets,j1PtD,mMed 600,Z+jets,0.54,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cd2bcc,"[-2.220446049250313e-16, -2.220446049250313e-1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0012195121951..."
225,_qual_trg_st_njets,j1PtD,baseline,Z+jets,0.58,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cc660d,"[-2.220446049250313e-16, -2.220446049250313e-1...","[1.1102230246251565e-16, 1.1102230246251565e-1..."
226,_qual_trg_st_njets,j1PtD,M-2000_mD-1,Z+jets,0.53,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f2231b,"[1.0000000000000002, 1.0000000000000002, 1.000...","[1.0000000000000002, 1.0000000000000002, 1.000..."
227,_qual_trg_st_njets,j1PtD,M-2000_mD-100,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#9a27cc,"[-2.220446049250313e-16, -2.220446049250313e-1...","[-2.220446049250313e-16, -2.220446049250313e-1..."
228,_qual_trg_st_njets,j1PtD,M-2000_r-0p1,Z+jets,0.63,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#663303,"[-2.220446049250313e-16, -2.220446049250313e-1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.000520291363163449..."

,bkg,var,counts,bkg,var,counts,bkg,var,counts,bkg,var,counts
0,QCD,dRj12,8,TTJets (pow),METrHT_pt30,7.0,W+jets,st,7.0,Z+jets,st,7.0
1,QCD,met,8,TTJets (pow),j1PtAK8,7.0,W+jets,nb,7.0,Z+jets,dPhiMinjMET,7.0
2,QCD,dRj12AK8,8,TTJets (pow),met,7.0,W+jets,ht,6.0,Z+jets,nb,7.0
3,QCD,METrHT_pt30,7,TTJets (pow),METrST_pt30,7.0,W+jets,j2Tau2AK8,6.0,Z+jets,ht,6.0
4,QCD,nb,7,TTJets (pow),st,7.0,W+jets,j2Tau3AK8,6.0,Z+jets,j1PtAK8,6.0
5,QCD,METrST_pt30,7,TTJets (pow),j4Axisminor,6.0,W+jets,njets,5.0,Z+jets,j2Tau2AK8,5.0
6,QCD,st,7,TTJets (pow),j4Axismajor,6.0,W+jets,j2AxisminorAK8,5.0,Z+jets,j2Tau3AK8,5.0
7,QCD,j1PtAK8,6,TTJets (pow),j1Pt,6.0,W+jets,j2Axisminor,4.0,Z+jets,j1Pt,5.0
8,QCD,j2Tau3AK8,5,TTJets (pow),j2Tau21AK8,6.0,W+jets,j1PtAK8,4.0,Z+jets,njets,5.0
9,QCD,j2Tau2AK8,5,TTJets (pow),mT,5.0,W+jets,dRj12,4.0,Z+jets,j3Pt,4.0
10,QCD,njets,5,TTJets (pow),j2SoftDropMassAK8,3.0,W+jets,dRj12AK8,3.0,Z+jets,dPhiMinjMETAK8,4.0
11,QCD,j2AxisminorAK8,5,TTJets (pow),njets,3.0,W+jets,j2Tau1AK8,3.0,Z+jets,j4Pt,3.0

                    cut       var         source       yield
948  _qual_trg_st_njets  njetsAK8         Z+jets     13507.0
949  _qual_trg_st_njets  njetsAK8         W+jets     28959.0
950  _qual_trg_st_njets  njetsAK8   TTJets (pow)    112121.0
951  _qual_trg_st_njets  njetsAK8            QCD  11089355.0
952  _qual_trg_st_njets  njetsAK8       mMed 600     25014.0
953  _qual_trg_st_njets  njetsAK8       baseline       380.0
954  _qual_trg_st_njets  njetsAK8    M-2000_mD-1       688.0
955  _qual_trg_st_njets  njetsAK8  M-2000_mD-100       379.0
956  _qual_trg_st_njets  njetsAK8   M-2000_r-0p1       379.0
957  _qual_trg_st_njets  njetsAK8   M-2000_r-0p7       232.0
958  _qual_trg_st_njets  njetsAK8   M-2000_a-low       355.0
959  _qual_trg_st_njets  njetsAK8  M-2000_a-high       403.0

_qual_trg_st_njets

             sig       QCD         TT      W+Jets      Z+Jets       All
0       mMed 600  7.508736  72.155849  131.070557  175.247447  7.456979
1       baseline  0.114111   1.134214    2.228159    3.254517  0.113324
2    M-2000_mD-1  0.206600   2.052588    4.027082    5.870608  0.205175
3  M-2000_mD-100  0.113811   1.131231    2.222308    3.245992  0.113026
4   M-2000_r-0p1  0.113811   1.131231    2.222308    3.245992  0.113026
5   M-2000_r-0p7  0.069668   0.692620    1.361501    1.990547  0.069187
6   M-2000_a-low  0.106604   1.059634    2.081866    3.041326  0.105869
7  M-2000_a-high  0.121018   1.202823    2.362711    3.450540  0.120183

,cut,var,sig,bkg,roc_auc,cutDir,cutSig,cBg,cSig,mBg_f,mSig_f
256,_qual_trg_st_njetsAK8,j1PtD,mMed 600,Z+jets,0.55,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cd2bcc,"[0.0, 0.0, 0.0, 0.0, 0.0, 7.364855133640269e-0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0011883541295..."
257,_qual_trg_st_njetsAK8,j1PtD,baseline,Z+jets,0.59,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#cc660d,"[0.0, 0.0, 0.0, 0.0, 0.0, 7.364855133640269e-0...","[1.1102230246251565e-16, 1.1102230246251565e-1..."
258,_qual_trg_st_njetsAK8,j1PtD,M-2000_mD-1,Z+jets,0.52,>=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#f2231b,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.9999926351448664, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.99499499..."
259,_qual_trg_st_njetsAK8,j1PtD,M-2000_mD-100,Z+jets,0.56,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#9a27cc,"[0.0, 0.0, 0.0, 0.0, 0.0, 7.364855133640269e-0...","[1.1102230246251565e-16, 1.1102230246251565e-1..."
260,_qual_trg_st_njetsAK8,j1PtD,M-2000_r-0p1,Z+jets,0.64,<=cut,"[0.0, 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21...",#999999,#663303,"[0.0, 0.0, 0.0, 0.0, 0.0, 7.364855133640269e-0...","[-2.220446049250313e-16, -2.220446049250313e-1..."

,bkg,var,counts,bkg,var,counts,bkg,var,counts,bkg,var,counts
0,QCD,dRj12,8,TTJets (pow),METrHT_pt30,7.0,W+jets,st,7.0,Z+jets,st,7.0
1,QCD,met,8,TTJets (pow),j1PtAK8,7.0,W+jets,nb,7.0,Z+jets,j3Pt,7.0
2,QCD,dRj12AK8,8,TTJets (pow),met,7.0,W+jets,j2Tau2AK8,7.0,Z+jets,dPhiMinjMET,7.0
3,QCD,METrHT_pt30,7,TTJets (pow),mT,7.0,W+jets,j2Tau3AK8,7.0,Z+jets,nb,7.0
4,QCD,nb,7,TTJets (pow),j2Tau21AK8,7.0,W+jets,j2AxisminorAK8,6.0,Z+jets,j2Tau2AK8,7.0
5,QCD,j2Tau3AK8,7,TTJets (pow),METrST_pt30,7.0,W+jets,ht,6.0,Z+jets,j2Tau3AK8,7.0
6,QCD,j2Tau2AK8,7,TTJets (pow),st,7.0,W+jets,njets,5.0,Z+jets,njets,6.0
7,QCD,METrST_pt30,7,TTJets (pow),j4Axismajor,6.0,W+jets,dRj12,5.0,Z+jets,ht,6.0
8,QCD,st,7,TTJets (pow),j1Pt,6.0,W+jets,j2Axisminor,5.0,Z+jets,j2AxisminorAK8,6.0
9,QCD,j2AxisminorAK8,6,TTJets (pow),j4Axisminor,6.0,W+jets,j2Tau1AK8,4.0,Z+jets,njetsAK8,5.0
10,QCD,dPhij12,6,TTJets (pow),j2Pt,3.0,W+jets,dRj12AK8,4.0,Z+jets,j2GirthAK8,5.0
11,QCD,dPhij12AK8,6,TTJets (pow),j2GirthAK8,3.0,W+jets,j2PtDAK8,4.0,Z+jets,j2Tau1AK8,5.0
12,QCD,njets,5,TTJets (pow),j2AxismajorAK8,3.0,W+jets,j3Pt,3.0,Z+jets,j2AxismajorAK8,4.0
13,QCD,j2GirthAK8,5,TTJets (pow),j3Axisminor,3.0,W+jets,j2GirthAK8,3.0,Z+jets,j2SoftDropMassAK8,4.0
14,QCD,j2Tau1AK8,5,TTJets (pow),j2SoftDropMassAK8,3.0,W+jets,j2AxismajorAK8,3.0,Z+jets,j1PtAK8,4.0

                       cut       var         source       yield
960  _qual_trg_st_njetsAK8  njetsAK8         Z+jets     21723.0
961  _qual_trg_st_njetsAK8  njetsAK8         W+jets     40821.0
962  _qual_trg_st_njetsAK8  njetsAK8   TTJets (pow)    115003.0
963  _qual_trg_st_njetsAK8  njetsAK8            QCD  15780078.0
964  _qual_trg_st_njetsAK8  njetsAK8       mMed 600     25669.0
965  _qual_trg_st_njetsAK8  njetsAK8       baseline       402.0
966  _qual_trg_st_njetsAK8  njetsAK8    M-2000_mD-1       821.0
967  _qual_trg_st_njetsAK8  njetsAK8  M-2000_mD-100       372.0
968  _qual_trg_st_njetsAK8  njetsAK8   M-2000_r-0p1       397.0
969  _qual_trg_st_njetsAK8  njetsAK8   M-2000_r-0p7       252.0
970  _qual_trg_st_njetsAK8  njetsAK8   M-2000_a-low       445.0
971  _qual_trg_st_njetsAK8  njetsAK8  M-2000_a-high       427.0

_qual_trg_st_njetsAK8

             sig       QCD         TT      W+Jets      Z+Jets       All
0       mMed 600  6.460062  73.110479  116.348379  150.337209  6.424043
1       baseline  0.101197   1.184728    1.986432    2.719161  0.100633
2    M-2000_mD-1  0.206674   2.418093    4.050002    5.535813  0.205521
3  M-2000_mD-100  0.093645   1.096363    1.838415    2.516811  0.093123
4   M-2000_r-0p1  0.099939   1.170001    1.961765    2.685442  0.099381
5   M-2000_r-0p7  0.063437   0.742827    1.245985    1.706492  0.063083
6   M-2000_a-low  0.112022   1.311371    2.198528    3.009036  0.111397
7  M-2000_a-high  0.107491   1.258360    2.109753    2.887716  0.106891

_qual_trg

               QCD   TT  W+Jets  Z+Jets  All
sig
mMed 600       1.0  1.0     1.0     1.0  1.0
baseline       1.0  1.0     1.0     1.0  1.0
M-2000_mD-1    1.0  1.0     1.0     1.0  1.0
M-2000_mD-100  1.0  1.0     1.0     1.0  1.0
M-2000_r-0p1   1.0  1.0     1.0     1.0  1.0
M-2000_r-0p7   1.0  1.0     1.0     1.0  1.0
M-2000_a-low   1.0  1.0     1.0     1.0  1.0
M-2000_a-high  1.0  1.0     1.0     1.0  1.0

_qual_trg_st_dPhiMinjMET

                    QCD        TT    W+Jets    Z+Jets       All
sig
mMed 600       0.469873  0.469225  1.194316  1.587592  0.477671
baseline       1.298292  1.312467  3.590064  5.192390  1.319846
M-2000_mD-1    1.845243  1.864374  5.093114  7.349153  1.875879
M-2000_mD-100  1.035539  1.046907  2.863837  4.142612  1.052730
M-2000_r-0p1   1.747599  1.766645  4.832663  6.990004  1.776608
M-2000_r-0p7   0.809904  0.818917  2.240943  3.243628  0.823352
M-2000_a-low   1.214912  1.228140  3.359007  4.857272  1.235081
M-2000_a-high  1.202779  1.215906  3.325751  4.809704  1.222750

_qual_trg_st_dPhiMinjMETAK8

                    QCD        TT    W+Jets    Z+Jets       All
sig
mMed 600       0.423350  0.440593  1.135631  1.475104  0.430564
baseline       1.190436  1.251939  3.464568  4.846055  1.210727
M-2000_mD-1    1.754935  1.844560  5.097523  7.114666  1.784848
M-2000_mD-100  0.871269  0.916376  2.536342  3.548690  0.886119
M-2000_r-0p1   1.690461  1.777707  4.919497  6.880743  1.719271
M-2000_r-0p7   0.560896  0.590046  1.633869  2.287666  0.570457
M-2000_a-low   1.101742  1.158637  3.206044  4.483802  1.120520
M-2000_a-high  1.081603  1.137492  3.147758  4.402774  1.100041

_qual_trg_st_dPhij12

                    QCD        TT    W+Jets    Z+Jets       All
sig
mMed 600       0.531446  0.481634  1.197721  1.381071  0.539420
baseline       1.337376  1.231486  3.297472  3.968283  1.357447
M-2000_mD-1    1.931503  1.777549  4.753544  5.714516  1.960491
M-2000_mD-100  1.134675  1.044859  2.797713  3.366860  1.151702
M-2000_r-0p1   1.742565  1.604592  4.296900  5.171323  1.768712
M-2000_r-0p7   1.043805  0.961264  2.574401  3.098634  1.059473
M-2000_a-low   1.263085  1.163033  3.113795  3.746886  1.282040
M-2000_a-high  1.332228  1.226681  3.284128  3.951765  1.352224

_qual_trg_st_dPhij12AK8

                    QCD        TT    W+Jets    Z+Jets       All
sig
mMed 600       0.521934  0.489132  1.211894  1.458779  0.530053
baseline       1.293955  1.231920  3.283196  4.174959  1.314088
M-2000_mD-1    1.916331  1.823376  4.853187  6.162600  1.946148
M-2000_mD-100  1.039543  0.989759  2.637938  3.354676  1.055716
M-2000_r-0p1   1.740854  1.657362  4.417274  5.617257  1.767936
M-2000_r-0p7   0.814731  0.775828  2.068429  2.631367  0.827410
M-2000_a-low   1.210029  1.151984  3.069827  3.903216  1.228855
M-2000_a-high  1.289652  1.227761  3.271646  4.159649  1.309721

_qual_trg_st_dRj12

                    QCD        TT    W+Jets    Z+Jets       All
sig
mMed 600       0.559662  0.500609  1.251466  1.436212  0.568019
baseline       1.456224  1.328415  3.601841  4.328442  1.477972
M-2000_mD-1    2.017098  1.838942  4.979119  5.976781  2.047223
M-2000_mD-100  1.209846  1.103703  2.992608  3.596400  1.227913
M-2000_r-0p1   1.923017  1.754231  4.756796  5.716683  1.951731
M-2000_r-0p7   1.111646  1.014217  2.750625  3.306224  1.128251
M-2000_a-low   1.388518  1.266584  3.433646  4.125811  1.409253
M-2000_a-high  1.409783  1.285998  3.486391  4.189290  1.430841

_qual_trg_st_dRj12AK8

                    QCD        TT    W+Jets    Z+Jets       All
sig
mMed 600       0.549796  0.496249  1.259723  1.491107  0.558184
baseline       1.414591  1.303079  3.604490  4.525219  1.436175
M-2000_mD-1    1.988753  1.830817  5.056530  6.338458  2.019098
M-2000_mD-100  1.118187  1.030113  2.849687  3.577994  1.135247
M-2000_r-0p1   1.894344  1.744988  4.827203  6.060547  1.923242
M-2000_r-0p7   0.868102  0.799868  2.213679  2.780629  0.881349
M-2000_a-low   1.320580  1.216433  3.364363  4.223226  1.340728
M-2000_a-high  1.374372  1.265975  3.501363  4.395156  1.395346

_qual_trg_st_njets

                    QCD        TT    W+Jets    Z+Jets       All
sig
mMed 600       0.546759  0.481689  1.341885  1.724745  0.555167
baseline       1.422139  1.268363  3.869179  5.428675  1.444015
M-2000_mD-1    1.815593  1.618631  4.931134  6.905177  1.843523
M-2000_mD-100  1.203416  1.073317  3.274154  4.593854  1.221926
M-2000_r-0p1   1.960319  1.748290  5.333349  7.483026  1.990469
M-2000_r-0p7   0.809293  0.721949  2.203695  3.094858  0.821745
M-2000_a-low   1.147619  1.023583  3.122763  4.382117  1.165271
M-2000_a-high  1.348109  1.202317  3.667315  5.144694  1.368849

_qual_trg_st_njetsAK8

                    QCD        TT    W+Jets    Z+Jets       All
sig
mMed 600       0.470398  0.488062  1.191161  1.479584  0.478266
baseline       1.261199  1.324851  3.449423  4.535677  1.282301
M-2000_mD-1    1.816237  1.906862  4.959200  6.511382  1.846626
M-2000_mD-100  0.990191  1.040234  2.708559  3.561888  1.006756
M-2000_r-0p1   1.721382  1.808208  4.708069  6.190782  1.750178
M-2000_r-0p7   0.736915  0.774282  2.016724  2.653216  0.749247
M-2000_a-low   1.205947  1.266756  3.297754  4.335592  1.226123
M-2000_a-high  1.197421  1.257831  3.274682  4.305532  1.217459